[2018-06-09 14:11] micheljung opened #933 "Reduce lag and memory consumption of replays list"
The reason why the replay list slows down the client is because it's adding one element per replay to a vertical pane instead of using the more efficient list view (which only renders elements that are visible).
This consumes a lot of memory and once the heap gets full, there's a lot of GC activity that causes high CPU load as well.

https://www.youtube.com/watch?v=-QQvybRgSUc

[2018-06-09 14:13] micheljung opened #934 "Improve slow loading experience of replay details"
https://youtu.be/-QQvybRgSUc?t=10m36s

[2018-06-09 14:25] germanicianus commented on #932
See also #828.

[2018-06-10 08:10] germanicianus opened #935 "Show years in rating graph of user profile"
Currently no years are shown on the x-axis of the rating graph in the user profile. This makes it hard to read if a user has a history of more than a year:
![image](https://user-images.githubusercontent.com/37223176/41199627-5bc081e4-6c95-11e8-8ae3-3a2e2568244e.png)

I am aware of 3 possibilities to solve this:
1. Add the year to the x-axis-labels. This would be a waste of space:
![image](https://

[2018-06-10 10:16] 1-alex98 opened #936 "Ladder 1v1 games are shown in friend joined games toasts"
Check for the featured mod of the game not being gw or ladder....

[2018-06-10 15:10] 1-alex98 commented on #31
Can you have a look so we can close it

[2018-06-10 15:11] 1-alex98 commented on #508
Waiting for tutorials featured mod

[2018-06-10 15:12] 1-alex98 commented on #157
Needs server support right?

[2018-06-10 15:16] 1-alex98 commented on #216
I think we should close this. I dont think it would help. You can see archived chat on discord ;)

[2018-06-10 15:18] 1-alex98 commented on #417
Do we still want this?

[2018-06-10 15:19] 1-alex98 commented on #356
Is it really never saw it and if so it is not true as default we should check this.

[2018-06-10 21:46] Brutus5000 commented on #417
Probably not, the website can do it by now.

[2018-06-10 21:46] #417 closed

[2018-06-11 08:51] #850 closed, assigned to 1-alex98

[2018-06-11 09:08] #881 closed, assigned to germanicianus

[2018-06-11 09:16] #909 closed, assigned to 1-alex98

[2018-06-11 09:29] #917 closed, assigned to 1-alex98

[2018-06-13 15:56] micheljung commented on #216
Well, it would be nice but I'd rather not implement this manually in the light of the upcoming switch to Mattermost (which will probably take another year to get implemented).

[2018-06-13 16:00] micheljung commented on #889
May have been fixed with my listener clean up

[2018-06-14 21:37] #26 closed

[2018-06-20 17:41] 1-alex98 opened #937 "I can click through the client"
I opened a live replay when getting back to the client I can click through it that happened several times now

[2018-06-20 17:42] 1-alex98 commented on #937
It is shown normally, i can even minimize it via os and reopen but still i click through it

[2018-06-20 18:57] 1-alex98 opened #938 "Integrate Bugsnag"
https://www.bugsnag.com/ free for open source projects

[2018-06-20 18:59] 1-alex98 commented on #938
No limit of events like sentry

[2018-06-22 19:29] ghost opened #940 "Error during startup"
[code]

[2018-06-22 20:03] Geosearchef commented on #940
The client can't read the file at `Caused by: java.nio.file.AccessDeniedException: C:\ProgramData\FAForever\cache\stylesheets\style-webview4619492292306772386.css`.

Try giving it permission to read that file. Maybe you did start the client/installer using admin rights the first time?

[2018-06-22 20:04] 1-alex98 commented on #940
This is a permission problem you installed the client being administrator and then started it with normal user, this is an known problem. Hard to fix, the original client has the same issue

[2018-06-22 20:16] ghost commented on #940
Ok, thank you, hopefully this sovles my problem.

Edit: Ok, i just tried uninstalling and installing with administrator permissions and that fixed my problem. Thanks for assisting, hopefully this persisting issue will be fixed in the future for both launchers.

[2018-06-22 20:58] 1-alex98 commented on #940
Well you should install it without admin rights and start it without admin rights

[2018-06-22 20:59] 1-alex98 commented on #940
But once you started it with admin rights you will always need admin rights 😢

[2018-06-23 08:44] #940 closed, assigned to nobody

[2018-06-25 04:45] germanicianus commented on #940
Installing **without** admin rights is **not** possible (at least currently/with 0.8.0-beta):
![image](https://user-images.githubusercontent.com/37223176/41830705-d3a1761a-7842-11e8-951b-6c9080ab5d2a.png)
On canceling this request for admin rights:
![image](https://user-images.githubusercontent.com/37223176/41830723-f0739192-7842-11e8-83ba-90327a508587.png)
I mentioned it in my Steam guide ["Howto

[2018-07-09 08:04] 1-alex98 commented on #940
Well maybe it was running the programm with admin rights i would need to try

[2018-07-09 08:38] Geosearchef commented on #940
Maybe it's due running it with admin rights the first time you start it. So the configuration files are written with the wrong permissions.

[2018-07-12 14:57] 1-alex98 commented on #918
Notify user of available votes

[2018-07-13 00:33] GodFuper opened #943 "Able integrating avatars in game lobby."
Modification of the client to transfer data about the player's avatar in the game lobby for him display. Game lobby uses cached avatars files from /programdata/FAForever/cache/avatars .
#942

[2018-07-15 10:35] FlyingThunder opened #945 ""Play" Tab -> Table/Tile issues"
Actual Issue:
In Tile view, checking/unchecking "Show password protected" / "show game with mods" does not work. I have to switch to Table view and then back to Tile view to apply the checkbox changes.

Annoying but not an issue:
In Table view, when there are many mods in a lobby, i cannot see all mods - it only shows e.g. "mod1, mod2 and 3 more...". i have to switch to Tile view and then hover ov

[2018-07-19 18:34] Katharsas opened #946 "Reduce project setup friction"
### Eclipse & JavaFx
Eclipse tries to detect and block access to classes/methods that it deems "non-public" (part of internal code rather than public API). This detection usually works fine but is a known problem for JavaFX. Other methods/classes which it blocks:
- com.sun.webkit.WebPage # setBackGroundColor(int)
- com.sun.glass.ui.Window
- netscape.javascript.JSObject

This can be solved by expli

[2018-07-19 18:36] micheljung commented on #946
You need to use the JDK 8 for now, jdk 10 upgrade is WIP in one of my branches :)

[2018-07-19 18:38] Katharsas commented on #946
Yes, but you cannot even pass JDK 8 to Gradle to make it use JDK 8. The simple existance of Java 10 (as default) on a system will cause any Gradle commands to fail.
Edit: Upgrading to recent gradle fixes this, no changes needed to anything else.

[2018-07-19 19:36] Katharsas commented on #946
Ok, so the old Gradle resolves Hamcrest to  `1.4-atlassian-1`:
https://mvnrepository.com/artifact/org.hamcrest/hamcrest-library/1.4-atlassian-1
Seems to be a weird version, does not hava JavaDoc online, but ok. It seems to have most of the things that are in 2.0,0.0. So new gradle needs to resolve to 1.4 instead of 1.3

[2018-07-19 19:42] Katharsas commented on #946
So, in Gradle version 4.3 a  bug was fixed, that would cause Gradle to resolve to dependencies which are too new / have breaking changes (like Hamcrest 1.4 i guess). So the correct behaviour is actually to resolve to 1.3 it seems. This means i will need to edit some tests that use Hamcrest 1.4 functions instead of Hamcrest 1.3 functions. Or use the spring dependencies to force every version of Ham

[2018-07-21 00:21] FlyingThunder opened #948 "0.9.0 - Online replay vault search filter missbehaving"
What i expected:
- i enter criteria "player name: FlyingThunder" and "max. Players: 2" and receive all games this apply to.

What i got:
- nothing happened at first. then i removed the max player filter, and _only then_ were the 1v1 games displays. though i could not "remove" the "max player == 2" filter it seems - i had to restart the client in order to display all games with my name again.

log:

[2018-07-21 00:29] FlyingThunder opened #949 "0.9.0 - log isnt written to"
i had my client open for a while, and i noticed that - when searching for log errors for another issue i had - that at one point, there was nothing written to the log anymore.

this is the log: https://pastebin.com/qtvXaCTW

i had several errors between 02:08 and 02:26 (i closed the client at 02:26).
i do not know if its normal that theres nothing written to log for 15 minutes, but i find this ver

[2018-07-21 00:58] Brutus5000 commented on #948
Max. players does not refer to the amount of players in the game. It refers to the maximum amount of players on the map version the game was played on. The naming should be changed.
The amount of players in a game is not available (would require implementation in api)
If you want to see ladder games go for `Game mod name` is `Ladder1v1`

[2018-07-22 07:01] micheljung commented on #946
Why would we want Hamcrest 1.3 instead of 2.0.0?

[2018-07-22 11:01] #948 closed, assigned to nobody

[2018-07-22 13:20] FlyingThunder opened #950 "Resizing the client seems to be randomly not working"
I experienced random issues of being unable to resize the client on the left and right side of the client, it seems a little as if when it does not work, the cursor is trying to resize another object than the outer client border? I dont know, look at the GIF, this issue combined with the missing autosnap feature makes using the client very awkward imo
![ezgif com-video-to-gif](https://user-images.

[2018-07-22 17:53] Katharsas commented on #946
Well all the other libs (junit, testfx, hamcrest-reflection, spring-boot-starter-test) expect 1.3.
So we cannot really use 2.0, because 2.0 does not have certain functions that 1.3 has (some were renamed), so if those libs would call those functions, we would get a "NoSuchMethodError" at runtime (or rather, at startup-classloader-doing-its-thing time).

We didn't get that eror yet, because apparen

[2018-07-26 19:19] Katharsas commented on #908
Probably not related , but i found 2 file handle leaks:
- https://github.com/FAForever/downlords-faf-client/blob/6efa201b3884f260e8e82af6360bdd25885e6e83/src/main/java/com/faforever/client/map/MapService.java#L185
- https://github.com/FAForever/downlords-faf-client/blob/6efa201b3884f260e8e82af6360bdd25885e6e83/src/main/java/com/faforever/client/patch/GameBinariesUpdateTaskImpl.java#L123

[2018-07-26 19:52] Deceitfox opened #951 "Files .lua in programdata are not created when launching a game"
Hello, i report the fact that when we launch once the game in downlord, a bunch of .lua files are not created inside the programdata. I needed to launch the Official FAF to create it.

[2018-07-26 20:58] Geosearchef commented on #951
Thx for the report. Do you now which lua files? A log would be helpful. What kind of game did you create first time, standard FAF(or phantom, lab wars,...) ?  And the second one not launching. Which error did you get? None at all, black screen, nothing happening,...? Did you use coop?

[2018-07-27 12:58] Deceitfox commented on #951
which lua files no i don't know... i begin to download the downlord version and launch game using it. Then with another problem a moderator told me how to launch FAF offline. And at this moment i posted on discord the new problem that some lua files are missing. So i tried to launch a game with old FAF . And i get a update of my game with all lua files.

[2018-07-31 20:02] 1-alex98 commented on #949
what were the errors you expect????

[2018-07-31 20:03] 1-alex98 commented on #946
Yeah actually that is a good point.

[2018-07-31 20:04] 1-alex98 commented on #951
Well that problem is known and fixed in 0.9

[2018-07-31 20:04] #951 closed, assigned to nobody

[2018-07-31 20:06] 1-alex98 commented on #951
It is called path.lua or something similar, it tell the lua script where the game is. That one is not created, but only needed for updates via the legacy updater... So what featured mod did you wanna play? Plain faf?

[2018-07-31 20:09] 1-alex98 commented on #937
I should have saved the log I will next time it happens

[2018-07-31 20:12] 1-alex98 commented on #908
We sometimes have some problems with files being locked maybe they that is related to any of them

[2018-08-01 04:13] FlyingThunder commented on #949
the errors arent the issue here - i just ment that there should have been something in the log but as you can see, between :08 and :26 theres nothing there

[2018-08-03 15:56] 1-alex98 commented on #949
Well they might be

[2018-08-03 18:37] FlyingThunder commented on #949
i guess thats possible, i think my issue was that when searching through my online replay vault, the "show more" button did not react at all

[2018-08-03 19:05] 1-alex98 commented on #949
Yeah i can tell you why most probably if you clicked it too often you caused the client to have a memory leak, which leads to high cpu usage which might lead to client unresponsive and also to it not writting its log

[2018-08-04 13:04] 1-alex98 commented on #950
I wonder if there is already an issue but i am sure we are aware of this

[2018-08-04 13:07] 1-alex98 commented on #945
I could reproduce that. But it doe snot allways happen only after like switching several times

[2018-08-04 14:25] axel1200 commented on #945
Please allways post logs with such issues.
It is caused by the following exception:
[code]

[2018-08-04 14:39] axel1200 commented on #945
ok no so i caused this by my own changes

[2018-08-04 21:01] 1-alex98 opened #955 "Setting for advanced logging"
@micheljung is that possible. Pretty sure it is, not sure how tho, but I wanna keep the idea. So we should make a setting to turn on advanced logging, so that everything is logged including debug, I would say so people can turn that on if they have an issue and aditionally information is needed.

[2018-08-05 13:13] 1-alex98 commented on #949
I experienced that witha development version. It also stopped writting to the log. I used the client extensively but no log was written... @micheljung is the log wriiten in development versions

[2018-08-06 15:19] 1-alex98 opened #956 "Color of rating stars is wrong"
Calls are all correct seems to be changes in css that broke it.
![exp2](https://user-images.githubusercontent.com/19996713/43725430-ccef4164-999c-11e8-9f64-6f8c191a4410.gif)

[2018-08-06 19:50] 1-alex98 opened #959 "Remove "mod downloads" counter"

[2018-08-07 11:17] 1-alex98 commented on #959
Has we dont know how many downloads/installations there are we are gonna delete that value

[2018-08-31 06:03] #959 closed, assigned to 1-alex98

[2018-08-31 06:03] #956 closed, assigned to micheljung, 1-alex98

[2018-09-02 12:27] Katharsas commented on #946
Can i get a review on the PR? Its very little changes anyway.

[2018-09-02 20:08] 1-alex98 commented on #946
Yeah reviews take there time

[2018-09-14 18:52] Brutus5000 commented on #955
This is possible. Spring Boot Actuator does [this ](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot-actuator/src/main/java/org/springframework/boot/actuate/logging/LoggersEndpoint.java) and you can also do it directly [with logback](https://stackoverflow.com/questions/3837801/how-to-change-root-logging-level-programmatically)

[2018-09-14 21:55] 1-alex98 commented on #949
I had another user today. It was the first time he used the java-client. And he had no log the second time he used it he had a log. So might be related to some setup missing the first time

[2018-09-15 11:23] norraxx opened #963 "UI - can't move window by bar"
On windows 10 can't move client window by grabbing it by top bar
![top_cant_move_only_green_small_line_is_ok](https://user-images.githubusercontent.com/26487134/45585779-82232700-b8ea-11e8-933d-926fc944f03d.png)

[2018-09-15 11:26] norraxx opened #964 "UI - Chat - Showing dialogue for icon choose, when there is no user icon"
![strange-dialogue-at-chat](https://user-images.githubusercontent.com/26487134/45585793-e7771800-b8ea-11e8-8208-e99bfe6f9a77.png)

[2018-09-15 11:30] norraxx opened #965 "UI - User -> show profile - window rereneder lag"
When open user profile, and trying to move with "user profile" window, it doesn't rerender, it rerenders only after mouse click is up.

Behavior is hard to simulate.

[2018-09-16 18:30] 1-alex98 opened #966 "ICE test on java server"
On team list only host is shown

[2018-09-19 17:54] speed2CZ opened #968 "Error on launch"
I just got version 0.8 from the webpage and this error pops out right after the initial "logo screen" or whatever it's called
https://pastebin.com/WnTvfUrm

[2018-09-19 18:18] 1-alex98 commented on #968
@speed2CZ error is known
You downgraded from 0.9 version either from ice test or from some other RC. Please delete your client.prefs in AppData/Roaming/ForgedAll...

[2018-09-19 18:18] #968 closed, assigned to nobody

[2018-09-19 18:36] speed2CZ commented on #968
Thanks

[2018-09-21 08:43] germanicianus commented on #964
Duplicate of issue #800 which is fixed with v0.9.0-beta.

[2018-09-21 08:44] #964 closed, assigned to nobody

[2018-09-21 18:02] 1-alex98 opened #969 "Set correct content type for posts and patches"
Check of content type is json for posts and patches
.... Otherwise the post will stop working with recent api changes

[2018-09-24 16:42] #966 closed, assigned to nobody

[2018-09-26 16:51] 1-alex98 commented on #900
@Brutus5000 what is gonna happen with it 🤔 ?

[2018-09-26 16:53] #707 closed

[2018-09-26 16:54] 1-alex98 commented on #589
Updated to java 10

[2018-09-26 16:54] #589 closed

[2018-09-26 16:56] 1-alex98 commented on #508
<a href="https://trello.com/c/vXHfwY0A/10-test-tutorial-changes-on-test">Test tutorial changes on test</a>

[2018-09-29 19:38] 1-alex98 opened #971 "Since chat refactoring I get that exception in develop"
[code]

[2018-09-29 20:27] 1-alex98 opened #972 "User unable to upload map"
http://forums.faforever.com/viewtopic.php?t=16745&p=167977#p167977

[2018-09-29 20:41] norraxx opened #973 "Replay stream is being buffered"
Replay server (https://github.com/FAForever/faf-aio-replayserver) needs to have continuous stream from game, as the game sends, otherwise replay server won't be able to stream live replay fluently.
Now, buffer size is 8192. It would be nice, if network stream behavior will be fluent/continuous.
Every 1/10 of second game sends at least 7 bytes of data, it would be nice to have same behavior on java

[2018-09-30 08:39] 1-alex98 commented on #973
I think a buffer in general is good we might just make it smaller

[2018-09-30 09:52] Brutus5000 commented on #973
Our observation for a sandbox game with fee commands was that the stream got flushed roundabout every 2 minutes. 8192 bytes / 70 bytes per second = 117 seconds.

If you look to the method `recordAndRelay` you will set that there is a buffer in place, but maybe it's not working as intended. This buffer has 512 bytes and would only be flushed every 7 seconds.

While buffering in general is a nice id

[2018-09-30 10:55] norraxx commented on #973
How about to use: https://docs.oracle.com/javase/7/docs/api/java/io/DataOutputStream.html

[2018-10-01 21:01] norraxx opened #974 "Recognize and download sim_mods from replay header"
Newer version of replay server will give additional information about replay, it's simulation mods.
Info will be stored in replay header (in JSON) on first level of JSON object as `sim_mods` key.
It'll be object, that contains mod UID and version of the game, examle:
[code]
Client will download this version of simulation mod and after that run replay.
Maybe I'm wrong, but as I know, all sim mods h

[2018-10-02 09:54] 1-alex98 commented on #974
I am not sure on this issue looking at the code we already do this and which sim mods where used in game was stored in old format already and I think you should simply stick to old format(it was fine). But maybe I am also mistaking.

[2018-10-02 10:24] 1-alex98 opened #975 "Currently devlop logs starts with warnings"
@micheljung know about this?
[code]

[2018-10-02 10:27] 1-alex98 opened #976 "Exception when I try to add a player as a friend after chat refactoring"
[code]

[2018-10-02 10:29] 1-alex98 commented on #976
same goes for add foes

[2018-10-02 10:30] 1-alex98 opened #977 "Hide categories without entry"
![image](https://user-images.githubusercontent.com/19996713/46343694-e5c58800-c63e-11e8-90f2-631d9b5edaaa.png)

[2018-10-02 10:32] 1-alex98 opened #978 "Improve tooltip behavior"
In chat all tooltips are missing. When i hover over a name in chat no info is shown any longer

[2018-10-02 10:33] 1-alex98 opened #979 "Missing info private chat tab"
![image](https://user-images.githubusercontent.com/19996713/46343798-4785f200-c63f-11e8-8766-1ef97e49ed5c.png)
No info is shown in private chat any longer.

[2018-10-02 10:51] norraxx commented on #974
Give me link on that java code, please.

[2018-10-02 11:14] 1-alex98 commented on #974
https://github.com/FAForever/downlords-faf-client/blob/2ab525bcb6b9c0183c9b266fc9ccb4dd8636b10e/src/main/java/com/faforever/client/replay/LocalReplayInfo.java#L26 that is the object that we read out from first line of the replay

[2018-10-02 11:15] 1-alex98 commented on #974
https://github.com/FAForever/downlords-faf-client/blob/2ab525bcb6b9c0183c9b266fc9ccb4dd8636b10e/src/main/java/com/faforever/client/replay/ReplayFileReaderImpl.java#L38

[2018-10-02 13:06] 1-alex98 commented on #977
I think that is not needed

[2018-10-02 13:06] #977 closed, assigned to micheljung

[2018-10-02 16:44] #922 closed, assigned to micheljung

[2018-10-03 11:01] 1-alex98 commented on #969
It seems like we dont set any content type

[2018-10-03 17:58] #971 closed, assigned to micheljung

[2018-10-03 17:58] #976 closed, assigned to nobody

[2018-10-04 17:41] #975 closed, assigned to micheljung

[2018-10-04 17:47] #974 closed, assigned to nobody

[2018-10-04 17:47] #978 closed, assigned to 1-alex98

[2018-10-06 10:35] tatsujb opened #984 "guide for linux runner"
hi!

the default parameter :  `"%s"` is the wrong one . I was told at one point what it was now I can't remember.

I remember I had been told this by somebody on the Downlord-FAF team and it was something like `"%w"` (this isn't it though, I tried) and it worked amazingly well it just linked to the game.

but right now I can't remember what the args were.

I'm using lutris because that works now o

[2018-10-06 17:48] 1-alex98 commented on #984
We planned on making a linux executable but we have not many linux developers that are willing to fix issues on linux

[2018-10-07 15:22] Brutus5000 commented on #984
I set it up for dragonite today on Ubuntu. We needed to give file permissions to the downloaded ForgedAlliance.exe and use `wine "%s"` as the command line. That was enough to run it from IntelliJ. But we were using oracle jdk 10.

[2018-10-07 15:26] tatsujb commented on #984
yeah I figured it out it was kinda like brutus said. I'll post a video of how I did it

[2018-10-07 15:47] tatsujb commented on #984
https://youtu.be/ruLJ_4SWI14

[2018-10-08 17:25] #979 closed, assigned to micheljung

[2018-10-08 18:50] ArXen42 opened #986 "Constant disconnects"
I made several attempts to use this client during the last year but unfortunately every game like 6x6 usually breaks immediately or after a few minutes. Usually I'm losing connection to one player with all the numbers in `behind` column (F11) being negative.

Reinstalls (including Windows), changing the port number, forwarding the port manually on home router (DIR-620) doesn't help.

Original clie

[2018-10-09 07:57] micheljung opened #987 "Remove @PostConstruct and @PreDestroy"
Option 1 https://better-coding.com/spring-postconstruct-and-predestroy-alternatives-in-java-9/

[2018-10-09 08:16] micheljung commented on #969
Doesn't seem to be a problem; posting reviews works just fine

[2018-10-10 18:00] 1-alex98 commented on #986
We understand your concerns and we would investigate you issue however the new ICE connection will be released soon(not fixed date but appr. 1 month), which will change 100% of connection code and how connection works.

[2018-10-10 18:00] #969 closed, assigned to nobody

[2018-10-11 16:50] ArXen42 commented on #986
That's great, thanks!

[2018-10-11 17:06] Geosearchef commented on #986
I can always welcome more people ready to test ;). If you're interested join the faf discord and execute `!subscribe ICE Tester` to be notified of new test games.

[2018-10-11 17:07] #986 closed, assigned to nobody

[2018-10-11 20:07] 1-alex98 commented on #987
You mean `Approach 1`?

[2018-10-12 10:43] #729 closed, assigned to 1-alex98

[2018-10-14 10:29] PhilipJFryFAF commented on #862
just encountered this bug (currently using 0.9.0 RC8)

[2018-10-14 10:41] 1-alex98 commented on #862
Maybe the rebase for none-ice version destroyed that:thinking:

[2018-10-14 17:50] PhilipJFryFAF opened #989 "maps showing up multiple times"
When searching for a map Author with the `contains` condition then every map will show up 2 times
Works fine if you use `is` instead

tested on 0.9.0 RC8
[downlords-faf-client.log](https://github.com/FAForever/downlords-faf-client/files/2476671/downlords-faf-client.log)

not sure if the log has anything useful but i'll just post it here anyway

[2018-10-14 18:02] 1-alex98 opened #990 "Resetting game location make all maps display twice"
Tell the client again where your game is and you will be shown all maps twice

[2018-10-14 19:11] 1-alex98 commented on #990
Equals method of mapbean is wrong

[2018-10-15 09:03] germanicianus opened #992 "Languages are duplicated"
v0.9.0-beta.RC8:
![image](https://user-images.githubusercontent.com/37223176/46940726-b749a300-d069-11e8-85bc-379c175ed7a3.png)

[2018-10-15 09:05] germanicianus opened #993 "Language Chinese should be labeled as simplified"
The Chinese characters used in the translation are simplified, so the language entry should be labeled accordingly. Currently it's not (v0.9.0-beta.RC8):
![image](https://user-images.githubusercontent.com/37223176/46940914-2aebb000-d06a-11e8-9afc-1716ea6570ec.png)

[2018-10-15 09:09] germanicianus opened #994 "Map column title cut off in German and maps misaligned in column"
v0.9.0-beta.RC8:
![image](https://user-images.githubusercontent.com/37223176/46941090-90d83780-d06a-11e8-98c5-257a3de8282d.png)
![image](https://user-images.githubusercontent.com/37223176/46942015-b403e680-d06c-11e8-873c-caf4894bb028.png)

[2018-10-15 09:12] germanicianus opened #995 "No "Close" button in error dialog - only closable with ESC key"
v0.9.0-beta.RC8:
![image](https://user-images.githubusercontent.com/37223176/46941243-ff1cfa00-d06a-11e8-88fb-8422b65443cf.png)

[2018-10-15 09:16] germanicianus opened #996 "Some captions barely readable"
Examples in v0.9.0-beta.RC8:
![image](https://user-images.githubusercontent.com/37223176/46941421-5d49dd00-d06b-11e8-80b0-9e503fc9fedc.png)
![image](https://user-images.githubusercontent.com/37223176/46941484-85d1d700-d06b-11e8-8086-261d6aa849f9.png)
![image](https://user-images.githubusercontent.com/37223176/46941524-984c1080-d06b-11e8-9ea8-a7a0848656d8.png)
![image](https://user-images.githubuse

[2018-10-15 09:20] germanicianus opened #997 "Tab 'Tournaments' has no loading indicator but stays white until loaded"
![image](https://user-images.githubusercontent.com/37223176/46941724-13152b80-d06c-11e8-80de-e69fadcea6d0.png)

[2018-10-15 09:29] germanicianus opened #998 "2 chat tabs active at same time -> user lists overlay"
How to reproduce:
1. Start client, select tab Play, close client.
2. Start client, select tab Chat immediately.
3. Tabs aeolus and DEV_clan (my clan) are both selected and chat user lists overlay each other

Result:
![image](https://user-images.githubusercontent.com/37223176/46942293-4e642a00-d06d-11e8-9cf4-12600932b08d.png)
![image](https://user-images.githubusercontent.com/37223176/46942369-7bb0

[2018-10-15 09:31] germanicianus opened #999 "Chat user list filter: Clan input focused initially -> no hint on what is filtered"
![image](https://user-images.githubusercontent.com/37223176/46942546-da765180-d06d-11e8-80bc-065f95f0045b.png)

[2018-10-15 19:46] petervasil1234 commented on #998
Hello, can I help with this one?

[2018-10-15 19:47] petervasil1234 commented on #925
Hello, can I help with this one?

[2018-10-15 19:48] petervasil1234 commented on #844
Hello, can I help with this one?

[2018-10-15 22:24] 1-alex98 commented on #997
It never had I guess I think that is no bug but rather an improvement

[2018-10-15 22:25] 1-alex98 commented on #995
Not if you click beside it?

[2018-10-15 22:26] 1-alex98 commented on #994
Well what do you suggest we do. I would leave it as it is to be honest

[2018-10-15 23:17] Brutus5000 commented on #997
That is correct. Unfortunately the challonge images take quite a while to generate.

[2018-10-16 08:02] 1-alex98 commented on #997
Same goes for Unit db btw

[2018-10-16 08:04] 1-alex98 commented on #995
Geo says it goes for all notifications

[2018-10-16 08:28] 1-alex98 commented on #972
We solved that problem

[2018-10-16 08:28] #972 closed, assigned to nobody

[2018-10-17 08:56] germanicianus commented on #994
I suggest to resize the colums on creation to at least the width of the heading and to center icons/images like the lock symbol and map  horizontally and vertically.

Btw. - There is no heading for the protected game (lock) column, but I think this is intended which I can understand.

[2018-10-17 08:59] germanicianus commented on #997
In general a user would expect all main tabs to have a loading indicator 🙂 .

[2018-10-17 12:35] micheljung commented on #995
We need to explicitly add a "Cancel", "Dismiss" or "Close" button to all dialogs (as appropriate). Per material design guidelines, we won't add a typical "close" button in the top right corner (wouldn't even be easy as JFoenix provides the dialog)

[2018-10-17 13:16] 1-alex98 commented on #995
So what do we do close button or fix that the dialog close not close when clicking beside it

[2018-10-18 09:32] germanicianus commented on #995
I vote for both because clicking outside is not obvious.

A button to adhere to the standards and clicking outside to make it consistent.

[2018-10-18 12:54] micheljung commented on #995
Depending on the notification, closing the dialog when clicking on the overlay is intended and, therefore, does not need to be "fixed":
Whether or not this behavior should be enabled or disabled depends on the nature of the specific dialog; is a user input required or can it be dismissed.

https://github.com/jfoenixadmin/JFoenix/blob/master/jfoenix/src/main/java/com/jfoenix/controls/JFXDialog.java

[2018-10-20 14:00] 1-alex98 opened #1000 "Use correct init file"
![image](https://user-images.githubusercontent.com/19996713/47256452-fd936d80-d480-11e8-95dc-67d7c0214614.png)
Change made by downlord in commit 3a99f4c, breaks all featured mods not being FAF and that dont run via git updater(and as we removed git update that means all of them) in version 0.9!!!

[2018-10-20 14:09] 1-alex98 commented on #1000
Maybe it does not break it i will need to investigate

[2018-10-20 14:11] 1-alex98 commented on #1000
I just notice that there is a lot of stuff mixed

[2018-10-20 14:13] 1-alex98 commented on #1000
So it is not broken but really confusing. The legacy init file is copied into the init.lua

[2018-10-20 14:13] #1000 closed, assigned to nobody

[2018-10-21 23:01] 1-alex98 opened #1003 "Ask user to rate map after map is played for the first time"

[2018-10-31 20:31] #990 closed, assigned to nobody

[2018-10-31 21:17] #995 closed, assigned to micheljung

[2018-10-31 22:56] aeoncleanse opened #1007 "Win10 Window-snapping tools don't affect this program"
I use Aquasnap. There is a free version if you wish to investigate.

[2018-10-31 22:58] aeoncleanse opened #1008 "Mod upload window can open too small to read content"
I suggest a minimum size based on the normal content of the window. Resize-able is nice, but it shouldn't be invisible!

[2018-10-31 23:04] 1-alex98 commented on #1008
duplicate no idea what the issue number was gonna find it

[2018-10-31 23:05] 1-alex98 commented on #1008
duplicate of https://github.com/FAForever/downlords-faf-client/issues/578
well i mean same issue with mod and maps

[2018-10-31 23:05] #1008 closed, assigned to nobody

[2018-10-31 23:05] 1-alex98 commented on #1007
Also duplicate lemme search. Can not find it but the issue exists somewhere

[2018-11-02 15:14] Viba opened #1009 ""/me" command sends but doesn't show in chat"
https://i.imgur.com/V0ECUCm.png

[2018-11-02 15:59] 1-alex98 commented on #1009
What does the /me command do?

[2018-11-03 12:39] #992 closed, assigned to micheljung

[2018-11-03 12:51] micheljung opened #1010 "Don't shrink "Create Game" button"
When scaling down the Window, the "Create Game" button shrinks, too and becomes unreadable

![image](https://user-images.githubusercontent.com/1864183/47952439-980aab00-df6f-11e8-97e4-2426db97cc27.png)

[2018-11-04 21:21] Brutus5000 commented on #1009
See the last line of the left screenshot. It starts a special message with your account name "doing something" usually in italic text.

[2018-11-06 06:02] micheljung commented on #1007
We're not using Windows' windows decorations so unless I find a way to customize the native windows controls, this will never work.

See https://stackoverflow.com/questions/37454818/javafx-custom-window-with-native-behavior

[2018-11-06 23:19] Rackover opened #1011 "Notification spam for ladder"
![image](https://user-images.githubusercontent.com/33836535/48100264-c49a1d80-e222-11e8-9025-4f4512eb5f52.png)

As soon as I have a "Optimal adversary available", i have like 10 notifications at once, and then it disappears. Very annoying as it happens **even ingame**, and when i'm ingame, well i don't really care if someone is available to play.

[2018-11-07 20:38] #998 closed, assigned to micheljung

[2018-11-07 20:38] #1010 closed, assigned to micheljung

[2018-11-07 20:38] #950 closed, assigned to nobody

[2018-11-08 17:09] PhilipJFryFAF opened #1013 "irc color bug"
when coloring usernames in the irc the chat history applies those colors but future chat messages will not
example https://i.imgur.com/cV8VNr8.png

would be nice if future messages would consider the custom colors as well
tested in v0.9 rc9

[2018-11-08 18:03] PhilipJFryFAF commented on #844
[code]

[2018-11-08 18:05] PhilipJFryFAF commented on #710
https://i.imgur.com/e7EkRYD.png
noticed that now the my review text is being cut off v 0.9 rc9

[2018-11-09 19:16] Brutus5000 opened #1014 "[0.9-rc9] Game Table View - List of mods not readable"
In the table view the list of mod can be shortened:
![grafik](https://user-images.githubusercontent.com/6843462/48283220-2a251e80-e45c-11e8-9e1c-b7ab55fdd9b1.png)

There is no way to show the full list. Hovering does not show a popup. Also the detail view on the right side does not show the mod names.
Only the tile view shows the full list.

[2018-11-09 20:39] #844 closed, assigned to nobody

[2018-11-10 11:41] micheljung commented on #996
Fixed

[2018-11-10 11:41] #996 closed, assigned to nobody

[2018-11-10 13:24] Brutus5000 opened #1017 "Game Table View doesn't show password protection indicator properly (in german)"
![grafik](https://user-images.githubusercontent.com/6843462/48301837-3eb4f580-e4f4-11e8-9cf5-7d8fb809ee6d.png)

[2018-11-10 14:15] germanicianus commented on #1017
This can be fixed with the translations file. The lock is encoded as Unicode escape sequence there because it is taken from a special font. Apparently POEditor messes up escape sequences.

[2018-11-10 16:20] PhilipJFryFAF opened #1018 "[0.9-rc11] Open replay file without the client being open"
This is less of an issue and more of a feature request:
When double clicking a .fafreplay file that is associated with the java client exe while the client isn't running nothing happens.

With the python client the updater runs/patches the game and opens the file just fine (even while the client isn't open and you aren't logged in etc)
Would be nice to have this in the java client as well

[2018-11-10 18:25] Brutus5000 commented on #1017
This should be solved in rc11, at least it is for all other cases where u2xxx characters where show. I would assume that the rendering show abbreviation characters because the column is not wide enough?

[2018-11-10 20:30] PhilipJFryFAF opened #1019 "[0.9-rc11] Removing search criteria"
When removing a search criteria from e.g. the replay vault search (in my case i looked for username = PhilipJFry and game mode contains ladder and then i removed the game mode criteria) the search will still use that removed criteria when looking for replays
adding new criteria can fix this

[2018-11-10 22:29] Brutus5000 commented on #997
Fixed by 8ef228b3407ac1de7c7055d21f70efa1965ba082

[2018-11-10 22:29] #997 closed, assigned to nobody

[2018-11-10 22:55] micheljung commented on #997
Dammit, I referenced #996 in the commit message

[2018-11-10 23:34] #1017 closed, assigned to nobody

[2018-11-12 04:41] Teledahn opened #1020 "[0.8.0 Beta] fa_path.lua not found?"
Running downlord's FAF client v0.8.0-beta from https://github.com/FAForever/downlords-faf-client/releases/download/v0.8.0-beta/dfc_windows_0_8_0-beta.exe

After patching, linking my steam account, locating my FA install directory I can launch and play custom games from the 'play' tab but I cannot launch Co-Op games.  I'm greeted by the following error when attempting to launch one, regardless of l

[2018-11-12 06:49] micheljung commented on #1020
Sorry for the inconvenience and thank you for reporting. This will be fixed in version 0.9.0-beta which I'm planning to release today.

[2018-11-12 06:49] #1020 closed, assigned to nobody

[2018-11-12 07:13] micheljung commented on #994
Duplicated by #1017

[2018-11-12 07:13] #994 closed, assigned to nobody

[2018-11-12 07:32] micheljung commented on #932
Fixed

[2018-11-12 07:32] #932 closed, assigned to nobody

[2018-11-12 07:35] micheljung commented on #908
FIxed in 0.9.0-beta

[2018-11-12 07:35] #908 closed, assigned to micheljung, Geosearchef, 1-alex98

[2018-11-12 07:36] micheljung commented on #753
Fixed in 0.9.0-beta

[2018-11-12 07:36] #753 closed, assigned to nobody

[2018-11-12 07:38] micheljung commented on #828
Fixed in 0.9.0-beta

[2018-11-12 07:38] #828 closed, assigned to nobody

[2018-11-12 07:41] micheljung commented on #805
If we wait until it is completed 100%, we will never close this because new messages are added every now and then and I don't expect (or wait) for all languages to catch up for each release.

Translation is now at 76%, this good enough to consider it "implemented" :)

[2018-11-12 07:41] #805 closed, assigned to germanicianus

[2018-11-12 07:43] #841 closed, assigned to nobody

[2018-11-12 07:54] #31 closed

[2018-11-12 07:54] micheljung commented on #62
Will never happen

[2018-11-12 07:54] #62 closed

[2018-11-12 07:56] micheljung commented on #575
Might be fixed, closing until further reports

[2018-11-12 07:56] #575 closed

[2018-11-12 10:36] 1-alex98 opened #1021 "Exception on startup"
[code]

[2018-11-12 10:37] 1-alex98 commented on #1021
applicationContext.getBean(UiService.class) -> applicationContext is NULL because it is set asynchronously

That is what I expect. Sady I can not reproduce it in Intelij

[2018-11-12 10:50] 1-alex98 commented on #1021
I think the issue is the following, in Main class. The init method is called on none main tread, so we use platform.runlater. The start method is called afterwards but on main thread but with a different method to schedule it. So even tho platform.runlater is called first the start method will run before it. So what I do is just call Platform.runLater in start method because it grantees that runna

[2018-11-12 11:02] 1-alex98 commented on #1021
Ok old theory can not be true but  the fix for that might also work in my new theory. :D

[2018-11-12 11:04] 1-alex98 commented on #1021
So what I think now is that in the Spring code PlatormImpl.runAndWait is called for start which will simply run the runnable if already on the main thread which would mean the start method gets called before init's Platform.runLater ... So I suggest we use PlatformImpl.runAndWait in the init method as well. When debugging it is not run on the application thread however it might be somewhere else

[2018-11-12 11:36] 1-alex98 opened #1023 "Can not search Maps"
All map querries fail

[2018-11-12 17:50] 1-alex98 opened #1025 "Updater picks first file form release instead of correct one"
Fix updater

[2018-11-12 18:55] 1-alex98 opened #1026 "Fix installing updates in linux"
install tar.gz in the right way

[2018-11-12 18:56] 1-alex98 commented on #1026
https://github.com/FAForever/downlords-faf-client/blob/2ab525bcb6b9c0183c9b266fc9ccb4dd8636b10e/src/main/java/com/faforever/client/update/ClientUpdateServiceImpl.java#L94

[2018-11-12 20:36] #1021 closed, assigned to nobody

[2018-11-12 20:37] #1025 closed, assigned to nobody

[2018-11-12 20:40] #1023 closed, assigned to nobody

[2018-11-12 21:21] Brutus5000 opened #1028 "[0.9] Custom game - Cancel actually starts the game"
![grafik](https://user-images.githubusercontent.com/6843462/48375817-585b6600-e6c9-11e8-8f5b-3cfa83721cd6.png)

[2018-11-12 22:06] axel1200 commented on #1011
Also remove notifications when in game if not the case

[2018-11-13 10:34] 1-alex98 opened #1031 "Update github.io page of client"
It is outdated

[2018-11-13 10:34] 1-alex98 commented on #1031
branch "gh-pages"

[2018-11-13 16:03] #1028 closed, assigned to nobody

[2018-11-13 17:07] speed2CZ opened #1032 "Scroll bar too small"
Currently the chat scroll bar is so small its really hard to click, and only possible in fullscreen, else the cursor snaps to the resize function:
![downlords-faf-client_2018-11-13_18-05-36](https://user-images.githubusercontent.com/10947024/48430158-e76e8980-e76e-11e8-9024-50808b9bca08.png)

[2018-11-13 17:14] speed2CZ opened #1033 "Bottom bar text position"
![slack_2018-11-13_18-13-13](https://user-images.githubusercontent.com/10947024/48430549-d96d3880-e76f-11e8-95c9-8f79f37aeeae.png)

Text in the bottom bar () could be a (few) pixels higher, so it is in the center, currently it looks like its cut off a bit. (just my OCD kicking in...)

[2018-11-13 17:19] speed2CZ opened #1034 "Unnecessary dots"
Are these dots intended in the switch between tiles and list games?

![downlords-faf-client_2018-11-13_18-18-21](https://user-images.githubusercontent.com/10947024/48430840-8778e280-e770-11e8-90f9-7a9d3071dcfb.png)

[2018-11-13 17:54] PhilipJFryFAF opened #1035 "messages of foes show up"
when adding someone to your foe list all his past messages are hidden - but the messages written after that will be visible while the username is not visible
![image](https://user-images.githubusercontent.com/24656673/48432716-7d0d1780-e775-11e8-984b-fb01d3cec7b7.png)

[2018-11-13 17:58] 1-alex98 commented on #1035
thx

[2018-11-13 17:59] 1-alex98 commented on #1035
I think i fixed this once no idea where it went

[2018-11-13 18:01] 1-alex98 commented on #1034
What language are you using?

[2018-11-13 18:25] 1-alex98 opened #1036 "Client freezes on startup"
[code]
The launcher thread is waiting forever. The fix from issue https://github.com/FAForever/downlords-faf-client/issues/1021 is not working as intended.

[2018-11-13 20:11] micheljung commented on #1036
feel free to hotfix and release :P I expected that fix to be tested :/

[2018-11-13 21:13] speed2CZ commented on #1034
english

[2018-11-13 21:54] 1-alex98 commented on #1036
I tested the last one as well but it seems to be different with intelij and installed version :(

[2018-11-13 21:54] 1-alex98 commented on #1036
So I need to build and install

[2018-11-14 16:58] speed2CZ opened #1038 "Resize problem"
So I managed to resize the client to like 1px x 1px, and no way to get it back :D
I dont think it should allow you to resize under some reasonable size.

When I start the client, its maximized, but clickin this button changes it back to 1px
![downlords-faf-client_2018-11-14_17-57-25](https://user-images.githubusercontent.com/10947024/48498538-c3767b00-e836-11e8-9ecd-4af9e69a4ad2.png)

[2018-11-14 18:51] speed2CZ commented on #1034
Ok it actually happens in the window is smaller, but it doesnt need to be super small for this to occur

[2018-11-14 23:20] 1-alex98 opened #1039 "Add new validity options for games"
![image](https://user-images.githubusercontent.com/19996713/48519168-39e1a000-e86c-11e8-9d9f-ab324cb37a8d.png)

[2018-11-14 23:20] 1-alex98 commented on #1039
[code]

[2018-11-18 16:36] Brutus5000 opened #1040 "Readme missing information about JavaFX dependency"
When I try to build the sources, I get an error that JavaFX dependencies are missing.
Looks like they are not part of the regular dependency declarations of gradle.

[2018-11-18 21:46] Brutus5000 opened #1041 "Two different deserializations of Faction"
We have Jackson annotations telling me that the ordinal is supposed to be used: https://github.com/FAForever/downlords-faf-client/blob/develop/src/main/java/com/faforever/client/game/Faction.java#L33

But the client is using Gson, so the Jackson annotations have no effect. So actually FactionTypeAdapter should be used: the https://github.com/FAForever/downlords-faf-client/blob/develop/src/main/jav

[2018-11-18 22:25] micheljung commented on #1040
Output would be appreciated

[2018-11-18 22:32] Brutus5000 commented on #1040
I get a localized message:
`Fehler: Zum Ausführen dieser Anwendung benötigte JavaFX-Runtime-Komponenten fehlen`

[2018-11-19 19:50] #1036 closed, assigned to 1-alex98

[2018-11-19 20:40] 1-alex98 opened #1043 "Game log is spammed with "Wrong game updated""

[2018-11-19 20:47] #1039 closed, assigned to nobody

[2018-11-19 22:58] #1043 closed, assigned to 1-alex98

[2018-11-19 23:58] 1-alex98 opened #1045 "Working forever on task"
![image](https://user-images.githubusercontent.com/19996713/48742430-3b8dd800-ec5f-11e8-8f53-c6d0100989de.png)
Even so no task is being processed windows icon does not stop to blink in green light...

[2018-11-20 00:07] 1-alex98 opened #1046 "Fix unit db css issues"
https://faforever.slack.com/files/U0L7BSM0C/FE737BZTK/image.png
Unit db settings ui is messed up, because of our custom css

[2018-11-23 12:30] RecklessCharger opened #1047 "Remove player score as search option"
With the 0.92 beta client I get an error when searching for replays with a 'player score' of at least 1600 (or anything for that matter). Does 'player score' = player rating?

[code]

[2018-11-23 12:35] RecklessCharger opened #1048 "Add Rating as a search option for replays in vault"
How to view and sort replays by player rating in either live, online or local replays?

[2018-11-23 21:48] 1-alex98 commented on #1047
player score is not "player rating" it is either 10(win) or 0(loose)  :D or maybe -1 no idea what it stands for ... So this is reasonable why it gives an error ;) because 1600 will be rejected by sever. We should remove this search option as it is useless

[2018-11-23 21:49] 1-alex98 commented on #1047
@DarkHorseV1 maybe something for u

[2018-11-23 22:08] 1-alex98 opened #1049 "User gets stuck in login"
Maybe unrelated but in log
[code]

[2018-11-23 22:10] #1049 closed, assigned to nobody

[2018-11-23 22:10] 1-alex98 commented on #1049
User used test sever

[2018-11-23 22:19] 1-alex98 commented on #984
We would add it to the read me if you would do this with the newest version and not some unofficial version

[2018-11-23 23:14] 1-alex98 opened #1050 "Save tab information"
If i then move of play tab and then return to play tab (i.e. news tab then back to play tab) the client shows the custom games sub menu. Would be nice for it to remember your selection and put you back in 1v1 view

[2018-11-23 23:16] 1-alex98 commented on #1048
I think we had that but it meant that if u searched for rating >1000 only one player had to had >1000 for the game to appear and we can not change that. And because ppl did not get that we removed it.

[2018-11-23 23:19] RecklessCharger commented on #1047
OK thanks. Was trying to search by player rating but couldn't find that option

[2018-11-23 23:22] RecklessCharger commented on #1048
But that makes sense! If I search I want any of the players to have a rating of x or more. I want to find replays of a certain standard....

[2018-11-23 23:58] 1-alex98 commented on #1048
Maybe add that option and name it "Any player's rating"  but also rename all other options that act in the same way as "any ...."

[2018-11-24 00:04] 1-alex98 opened #1051 "Review game notification does not show"

[2018-11-24 00:05] 1-alex98 opened #1052 "Add "your replays" criteria in online replay vault"

[2018-11-24 12:51] RecklessCharger opened #1053 "Find player aliases"
Is there a means to search for player aliases as in the old python client? Would be a 'nice to have'. Oh and thanks for all the hard work on the new client - its looking really good now

[2018-11-24 19:32] micheljung opened #1054 "Don't display all mods in tile view"
![image](https://user-images.githubusercontent.com/1864183/48972316-efa8ad80-f027-11e8-8983-06ed96bde5f8.png)

When there are more than 3 mods, it should say "MOD1, MOD2, and N more"

[2018-11-24 22:48] micheljung opened #1055 "User info window can't be opened for other users"
Even worse, it blocks the main window so no user inputs can get through

[2018-11-24 23:18] #1055 closed, assigned to nobody

[2018-11-25 08:37] RecklessCharger opened #1057 "Add total game time as search criteria in replay vault"
Would it be possible to add total game time as a search criteria in the replay vault please?
(would make searching for longer more interesting games easier)

[2018-11-25 10:04] Brutus5000 commented on #1057
This is currently not possible. The client queries our API for the games, which looks up the database record populated by the server. The server is not saving the total gametime (and probably doesn't even know it).

Therefore I close this issue for now.

[2018-11-25 10:04] #1057 closed, assigned to nobody

[2018-11-25 10:14] Brutus5000 opened #1058 "Set irc server host in secret login form"
If you double click the FAF login within the login screen you get an additional form to use different servers for lobby server, replay server and api.

![grafik](https://user-images.githubusercontent.com/6843462/48977867-37b8e600-f0a3-11e8-8e5a-036549bf6ca8.png)

Add the irc hostname there.
Bonus task: give the form fields a text column, so you know where the hostnames point to (port 8001 is lobby

[2018-11-25 11:42] tatsujb commented on #984
i'm on it

[2018-11-25 11:59] 1-alex98 commented on #1053
You can right click a player and click player information which will show u his name history. Is that what u want or is that that you want to know how was named "cristal13" before?

[2018-11-25 12:01] 1-alex98 commented on #984
Also the newest versions are in tar.gz that might be a little different to install (not sure)

[2018-11-25 12:05] tatsujb commented on #984
heck yeah it will. it's less reliable then .deb. I can work with it anyways but my audience (whatever that is) won't enjoy the downgrade. here's crossing fingers for a .deb as part of releases one day :)

[2018-11-25 12:16] 1-alex98 commented on #984
We can probably add that to future releases again, but that is rather a task for @micheljung i am not that much into that

[2018-11-25 12:18] Brutus5000 commented on #1053
Player information is currently broken due to API issues. The loading of achievements takes so long, that you run into a Gateway Timeout.

[2018-11-25 12:27] tatsujb commented on #984
.run would be best as it works on absolutely any linux distro.

[2018-11-25 12:33] 1-alex98 commented on #1053
Yeah but that should not effect other stuff loading or does it?

[2018-11-25 12:40] RecklessCharger commented on #1053
Yeah that's what the Python client allows. You can search for a specific name and get all their aliases.

[2018-11-25 12:41] 1-alex98 opened #1059 "Define custom background image"

[2018-11-25 12:41] RecklessCharger commented on #1057
OK it's visible in the info for each replay so that will have to do I guess

[2018-11-25 12:42] 1-alex98 commented on #1053
Yeah same here just search for a player in chat and see this name history. But does not work if player is offline etc.

[2018-11-25 13:27] tatsujb commented on #984
so far can't get it to work
[code]

why is there no flexibility here?

I uninstalled 8 and went to install 10 but the team packaging it skipped straight to 11 so those are kinda my two only options here (8/9 and 11).

I tried with both.

from what I understand java 10 code shouldn't be too deprecated by java 11 standards so running java 10 code with a java 11 runtime should work fine?

I don't und

[2018-11-25 14:10] micheljung commented on #631
Still an issue

[2018-11-25 14:37] 1-alex98 commented on #984
U need 10 you shall NOT USE java 11

[2018-11-25 14:38] 1-alex98 commented on #984
Install open jre 10
should work

[2018-11-25 14:40] 1-alex98 commented on #984
Did you set INSTALL4J_JAVA_HOME ?

[2018-11-25 15:36] tatsujb commented on #984
https://askubuntu.com/questions/1095910/force-oracle-java-10-not-java-11?noredirect=1#comment1804922_1095910

yes

[code]

ok nevermind i figured it out the trick to forcing open jdk 10 is to uninstall, remove both webup and uprising repos and then add the uprising repos again and download the open jre 10 from that.

I'll update to say if it ran downlord faf

edit nope nevermind. that just default

[2018-11-25 17:06] heelix commented on #984
First off - you guys are doing amazing work.  I've been lurking for some
time and watching the code.  I'll  be trying to get this working on steamos
and centos, so another Linux guy jumping into the fray.

Why JDK 10 rather than 11?  In the process of getting from JDK 8 to 11(LTS)
at work, which has been all sorts of fun.

On Sun, Nov 25, 2018 at 9:36 AM tatsujb <notifications@github.com> wrote:

[2018-11-25 20:36] Brutus5000 commented on #984
Because making the release was more important right now than spend more time on migrating to JDK11. The timespan between 0.8 and 0.9 was over a year which introduced a lot of issues due to changes and regressions piling up.

[2018-11-25 21:45] heelix commented on #984
Yah, figured as much.   Fire and motion.  Wish our work code was as clean as this 'play' code. :)

[2018-11-25 23:17] Brutus5000 opened #1061 "Make calls against API resilient"
If we make calls against the API running into errors due to the API being down due to restart (deployment of new version). It's not a good user experience to fail on first try and show some stacktrace to the user.

Spring Retry offers mechanics to automatically retry failed calls in a configurable time span. Unresolvable errors can be globally catched.

[2018-11-26 00:19] 1-alex98 commented on #984
And java 11 has no java fx anymore u need to add it as dependency i think

[2018-11-26 08:33] tatsujb commented on #984
what? that's a crazy move on their part! is adding java fx as a dependency a pain?

[2018-11-26 10:28] 1-alex98 commented on #984
Not really also it makes java fx independent from java releases

[2018-11-26 10:30] 1-alex98 commented on #151
we have that already

[2018-11-26 10:30] #151 closed

[2018-11-26 10:32] 1-alex98 commented on #465
no i think we dont want it

[2018-11-26 10:32] #465 closed

[2018-11-26 10:33] 1-alex98 commented on #745
Github wiki

[2018-11-26 10:36] #745 closed, assigned to nobody

[2018-11-27 02:28] iicurtis commented on #984
I like the tar.gz honestly. I think it's easier for anyone not strictly on Ubuntu, but we can all do the extra work to extract it and install it to the correct places.

My notes:
After extracting and setting `INSTALL4J_JAVA_HOME`, I still had one more step to make:

`chmod +x ~/.faforever/bin/*.exe`

[2018-11-27 08:20] tatsujb commented on #984
it's more DIY then people are used to. ubuntu and linux distros in general have shed their "hard to use" nowadays you can use ubuntu even if you identify as a gamer and nothing else or even if you identify as a "grandma" and have more ease of use then windows by a huge margin.

People are switching to linux thanks to this and I'd like to encourage this movement by making faf one of those "plug-and

[2018-11-28 19:51] tatsujb commented on #984
got faf running today thanks to that answer on askubuntu (dunno if that was you or not) but this new way of installing the client behaves differently and thus has it's own issues :

[code]

I can see here that it's correctly running from `/home/t/.faforever/bin` not `opt/downlord...`, but that's just a small bonus, on the other hand it cannot run wine. witch my linux should finc regardless of whet

[2018-11-28 20:22] tatsujb commented on #984
I got faf running from tarball by successfully forcing an install of java 10.

however the maintainer of wine-gallium nine broke compatibility with ubuntu 18.04.01 with his update to 3.20  so I'm kinda stuck.

[2018-11-29 20:22] 1-alex98 opened #1062 "Show if game is rated"

[2018-12-03 15:48] micheljung commented on #1062
While I understand that this is desirable, it's impossible to guarantee that a game will be rated. Best we could say is "there is a chance that it will be rated".
1. The game may get unrated while it is running (e. g. because it ends too early, players agree to draw, game desyncs)
1. Just because the current game settings allow it to be ranked doesn't mean the host won't change the settings before

[2018-12-03 22:18] Wesmania opened #1063 "After closing the game, remaining replay data isn't sent to the server"
Steps to reproduce:
1. Launch wireshark, snoop on port 15000.
2. Launch the client, host a game, run the game, quit after a few seconds.
3. No data beyond SYN and FIN is sent. It's expected that at least the replay header (e.g. 'P/1000000/foo') gets sent after launching the game.

[2018-12-03 22:22] Brutus5000 commented on #1063
Most probably related to the buffer not being released in the end and related to https://github.com/FAForever/downlords-faf-client/issues/973

[2018-12-03 22:29] Wesmania commented on #1063
Or to the buffer not being flushed before closing the server socket.

[2018-12-03 22:31] Brutus5000 commented on #1063
That's what I meant.

[2018-12-03 23:18] 1-alex98 commented on #1063
It is true what you say Stream is neither flushed nor closed

[2018-12-04 16:01] #1063 closed, assigned to nobody

[2018-12-04 16:01] #973 closed, assigned to nobody

[2018-12-04 16:02] micheljung commented on #1063
I feel ashamed. Thanks for investigating and reporting.

[2018-12-04 16:13] Wesmania commented on #1063
Confirming fixed.

[2018-12-08 12:20] Wesmania opened #1066 "Launch command decorator is not always applied"
When you try to launch a local replay on Linux for example, the client will bug out about 'no permission to run file' since the 'wine foo %s' decorator is not being applied. The problem stems from ForgedAllianceService not passing executableDecorator to LaunchCommandBuilder in some cases. The builder is intended to always require it, but the decorator is set to "%s"' rather than null in the constr

[2018-12-08 20:35] 1-alex98 commented on #1047
it is not there there is an issue somewhere

[2018-12-08 21:25] EmielWitteman opened #1069 "supreme score board doesn't show correct replay id"
0.9.2-beta
mods: common mod tools v1, supreme score board v2.0
replay id is incorrect in live game, it is good in replay though

(phyton faf client has same issue after 0.18.0-rc2+3017, that is why I am still using that version)
<img width="282" alt="2018-12-08 22_05_28 bad id" src="https://user-images.githubusercontent.com/38175365/49690874-1ee71080-fb38-11e8-88d3-f1e522e41e78.png">
<img width="3

[2018-12-09 15:43] 1-alex98 commented on #1069
hmmnot sure if that is a client issue but it might

[2018-12-09 15:44] 1-alex98 commented on #1069
logs?

[2018-12-09 21:03] EmielWitteman commented on #1069
the old phyton client log:
[code]
This is with downlords, diff, left is replay, right is the game
<img width="1103" alt="2018-12-09 ids" src="https://user-images.githubusercontent.com/38175365/49702377-bf503a00-fbf7-11e8-8d77-2b83b27d0b24.png">
apparently the command line call /savereplay is no longer parsed correctly,
The old client does this:
/savereplay "gpgnet://localhost/8950120/Mielus.SCFAre

[2018-12-11 19:55] 1-alex98 commented on #1069
So is there anything we should change? I am not 100% sure what u talked about

[2018-12-11 19:58] 1-alex98 commented on #1069
/savereplay, gpgnet://127.0.0.1:65106/8947048/Mielus.SCFAreplay
So is this valid or not should we remove the "," or what?

[2018-12-11 22:55] EmielWitteman commented on #1069
it is the port specification in the /savereplay command which throws of SSB, the string is no longer parsed correctly. I suspect since both the phyton and java client do this "new" port thing (since august 2018 or so) because of changes in the server. Should be fixed in SBB in my opinion, that is why I closed the issue.

[2018-12-11 22:55] #1069 closed, assigned to nobody

[2018-12-12 08:35] 1-alex98 commented on #1069
Oh ok yeah, we use a custom port for the replay sever ;) This more robust. So if some application is running on the standard port it still works

[2018-12-13 00:10] tatsujb commented on #984
sorry to have taken so long : https://www.youtube.com/watch?v=RRINgZQl7LU

[2018-12-13 17:25] micheljung commented on #963
I'd like to solve it like Chrome; when the window is maximized, this area can always be grabbed:
![image](https://user-images.githubusercontent.com/1864183/49955876-2de90c80-ff04-11e8-8f73-9d12e42173e8.png)

And when it's in normal state, there's an additional border at the top:
![image](https://user-images.githubusercontent.com/1864183/49955966-64268c00-ff04-11e8-9191-177aabf09a67.png)

[2018-12-14 16:27] DarkHorseV1 commented on #925
It's interesting. i'll do it

[2018-12-15 21:10] JeroenDeDauw commented on #935
I second this. After playing several years the graph looks really silly:

![image](https://user-images.githubusercontent.com/146040/50047467-29fcec00-00b6-11e9-971a-52f22ab4f921.png)

Just showing the first date (with year!) and the last one would already be an improvement.

[2018-12-16 08:44] EmielWitteman opened #1072 "crash while in game"
Downlords client had crashed on me twice while playing ladder, this time I saved the logs, but I fear the crash reason is not logged. There was no widows error, the client just disapeared.
Any other logs which could provide clues?

game.log
[code]

downlords log:
[code]

[2018-12-16 17:03] 1-alex98 commented on #1072
First of all what does crash mean did it freeze or did it crash ?

[2018-12-16 17:03] 1-alex98 commented on #1072
It froze right?

[2018-12-16 17:04] 1-alex98 commented on #1072
If it should happen again pls have a look at the RAM usage of the client and tell us the number so we know if it is a memory leak.

[2018-12-16 20:20] EmielWitteman commented on #1072
the downlord client crashed so the game got in disconnect timer mode, there was no downlords-faf-client.exe running any more it just vanished from taskmgr, ForgedAlliance.exe was still running.
I'll start monitoring the ram usage of the client.

[2018-12-16 21:23] EmielWitteman commented on #1072
memory usage increased:
<img width="465" alt="2018-12-16 21_18_13-task manager" src="https://user-images.githubusercontent.com/38175365/50058992-18cce180-0181-11e9-85ca-fe3a41e36b9f.png">

[2018-12-17 08:57] 1-alex98 commented on #1072
Strange so it did not freeze

[2018-12-17 08:58] 1-alex98 commented on #1072
Might be outofmemory exception

[2018-12-17 08:59] 1-alex98 commented on #1072
Have u got v0.9.2?

[2018-12-17 19:35] EmielWitteman commented on #1072
v0.9.2-beta

[2018-12-18 09:03] EmielWitteman commented on #739
I like the search ability with several criteria, but most users probably will only search for Player names and map names.  Especially the "contains" filter is handy for obscure player and map names.
If the default criteria setting would be remembered and/or initialized with "Player name is <own name>" it will be more pleasant for most users I guess. Now the default criteria is "ID contains" which

[2018-12-19 07:21] #631 closed

[2018-12-19 07:25] #1034 closed, assigned to nobody

[2018-12-19 07:48] #1066 closed, assigned to nobody

[2018-12-20 18:45] Wesmania opened #1073 "[LINUX]Exception when downloading a map for live replay ends in a 404"
A stack trace caught when trying to watch a live replay:

[code]

From what I can tell, `getPathForMap` can return null, but it isn't handled anywhere, so it eventually gets passed to isDirectory.

Looking deeper, I suppose that DownloadMapTask does not download the map correctly, and yet it throws no exception:
`Downloading map dualgap_fix_adaptive.v0007 from http://content.test.faforever.com/faf

[2018-12-22 00:50] tobias-strenger commented on #1054
ehm it works for me actually
![image](https://user-images.githubusercontent.com/7430874/50368632-46ec6000-058b-11e9-98a3-419d4749bb52.png)

[code]

Currently it supports only one mod, but i can change it to two.

I'd rather mention two other issues
- _N_ doesnt show the correct number of remaining mods (i don't know why the actual number is way bigger, but `(modNames.size() - 1)` because of _n - d

[2018-12-23 08:57] Rackover opened #1074 "Remember custom connection parameters"
When supplying custom address and port for lobby.Faforever.com and for the API, the settings don't get remembered when the client closes.
It would be very nice if they were.

[2018-12-23 08:59] Rackover opened #1075 "Double clicking on FAF logo makes the client fullscreen"
Not present in 0.8.0
In 0.9.0 upwards double clicking anywhere on the window makes it go fullscreen.
It's great, except when it conflicts with other commands and makes the client fullscreen when it was not intended. Double clicking on the FAF logo is the only way to access connection parameters.
Maybe either make the FAF logo single click, or remove the fullscreen on double click if the click is e

[2018-12-23 09:00] Rackover opened #1076 "Logging out doesn't refresh Featuredmods"
When logging out from the client and logging in using a different API, FeaturedMod (and probably other stuff) don't get refreshed at all, making it impossible to start a game on the newly connected API.

[2018-12-23 12:40] micheljung commented on #1052
Why?

[2018-12-23 12:42] #1047 closed, assigned to DarkHorseV1

[2018-12-23 12:52] #899 closed, assigned to 1-alex98

[2018-12-23 12:55] micheljung opened #1077 "Replays with missing maps cause repeated error message"
![image](https://user-images.githubusercontent.com/1864183/50383757-31c21f00-06ba-11e9-8bc6-14b62f2bf55e.png)

Don't show an error message; it may well be that a user has replays of a map that he no longer owns.
In this case, he should only receive an error message when trying to watch that replay.

[2018-12-26 09:30] EmielWitteman commented on #1072
v0.9.3-beta same problem, played 2 games, 30-40 mins or so

[2018-12-26 12:01] Brutus5000 commented on #1072
Why is the client trying to touch a game DLL?
```com.github.nocatch.NoCatchException: java.nio.file.AccessDeniedException: C:\ProgramData\FAForever\bin\BugSplat.dll```
I guess this might be related, but I don't know why it is happening.

[2018-12-27 20:55] Brutus5000 opened #1078 "Don't cap local replay list after 300 files"
Right now there is a hard limit of 300 local replays to show.

https://github.com/FAForever/downlords-faf-client/blob/d5cf40884953a578858c01c3ff0ca9843a82189e/src/main/java/com/faforever/client/replay/ReplayService.java#L170

There needs to be a better we of preventing OutOfMemoryExceptions with some sort of paginated loading.

[2018-12-28 13:04] Wesmania opened #1079 "Loop at FafServerAccessorImpl.java:431: seems to be a noop"
There's a piece of code at FafServerAccessorImpl that goes like this:

[code]

The preceding loop sets `messageClass` to `Object`, so it seems to be a no-op.

[2018-12-28 13:49] germanicianus commented on #1072
I think this is the important part of the error log:
[code]
My guess is the following:
Client tries to update FA's files while it's running -> OS denies write access -> client exception -> client crash.

[2018-12-29 16:05] tomaskir opened #1080 "Client crash (every 3-4 games)"
Since 0.9.x, client crashes on me quite often.
Game stays up, but since client crashes, I lose conn to all players.

Here is the Java crash log:
https://gist.github.com/tomaskir/c88e45eea3acdb3a17d80ae10084bbcd

[2018-12-29 20:26] germanicianus commented on #1080
Until this issue is resolved, you could go back to 0.8.x if the client crashes to often. In this case you may have to change the setting `"language"` (e. g. `AUTO`) in your client preferences file `C:\Users\<username>\AppData\Roaming\Forged Alliance Forever\client.prefs` to either lower or upper case or just delete the file.

[2018-12-29 20:44] germanicianus commented on #1080
The following OpenJDK bugs seem to be similar to this issue, but have been closed as `Incomplete`:
- [[WebView] Heavy use of JSObject.callImpl can cause native crash](https://bugs.openjdk.java.net/browse/JDK-8089090)
- [Communicating with WebView crashes JVM](https://bugs.openjdk.java.net/browse/JDK-8153349)

[2018-12-31 03:11] tomaskir commented on #1080
Is there anything I can provide / do so this can be properly tracked to the cause and fixed?
Or is this a JRE / JDK issue?

Just had another crash today.

[2018-12-31 17:05] germanicianus commented on #1080
Yes, you can provide all `hs_err_pid<number>.log` files for the crashes you had. They should still be somewhere on your harddisk, but currently I cannot tell you where exactly. This would help us to find out if the crash is always caused by the same code.

As I said it seems to be some Java runtime issue related to JavaScript calls. Extract from your log:
[code]

[2018-12-31 17:28] tomaskir commented on #1080
Here are the crash files:
https://drive.google.com/open?id=1ADCQCXEjVVVoRLfxL2Nx_LA2a-obvi9s

[2019-01-02 12:03] 1-alex98 commented on #1080
I wonder if that happens more often

[2019-01-02 12:03] muellni opened #1081 "make ForgedAlliance.exe executable on Linux"
when starting a game on Linux the following error occures:
[code]

Setting the executable bit on `~/.faforever/bin/ForgedAlliance.exe` fixes this error

[2019-01-02 12:08] 1-alex98 commented on #1080
Hmm really bad bug for us because we wont be able to do much about it(most probably)

[2019-01-02 13:58] tomaskir commented on #1080
Well, the fact that the lobby crashes would not be a problem if it didn't bring down the ICE adapter with it.

I suppose for players with public IPs and port forwards this is not critical, since it doesn't influence their game. However for anyone running NAT-T over ICE, client crash brings down ICE, and then the game is dead. (at least according to my current understanding of the FAF architecture)

[2019-01-02 23:03] Geosearchef commented on #1080
Without the ice adapter a client crash means you're disconnected as all traffic is relayed via the client. Using the adapter we could let it stay open but as there is no client, ice messages won't be forwarded anymore and you couldn't reconnect, reporting scores and maybe disconnecting from players may stop working aswell

[2019-01-02 23:45] germanicianus commented on #1080
I just had a look at the crash logs. All of the crashes are caused by JavaScript calls (in JSObject) which are needed for the chat functionality. If I am correct and tab unloading/loading on demand is already in the currently released version, I assume you can prevent these calls by just switching to tab „Play“ and staying on this tab while you are in a game. To verify that I would need to have a

[2019-01-03 00:41] micheljung commented on #1080
Chat tabs currently don't unload, and the crash in the reported case happened when calling `removeUserMessageClass` which is called as users join/leave

More logs would be appreciated, in order to see whether it's always the same method that fails.
But of course such crashes are unacceptable :-(

[2019-01-03 00:49] tomaskir commented on #1080
There is a link for 5 log files in my 2nd comment on this issue.

Is that sufficient or should I provide more?

[2019-01-03 00:54] micheljung commented on #1080
Sorry I just saw it :-) thanks a lot

As a first step, I'd like to avoid the nested calls to `Platform.runLater()` by replacing such calls with `JavaFxUtil.runLater`, if anyone has time to do that?

[2019-01-03 02:39] Askaholic opened #1082 "No error handling for bad api requests"
```ID     contains     9063317```
Searching replay vault with query `id=="*9063317*"` returns a 'bad request' from the API which is not handled gracefully. It should display some sort of user friendly error like 'This search is invalid please try again with different criteria' instead of dumping the exception trace.

Or even better, the client should not allow the user to perform this query. This

[2019-01-04 09:36] EmielWitteman commented on #1072
I really hope a client update is never attempted while in the game!

[2019-01-04 12:31] micheljung commented on #1072
@germanicianus The log posted EmielWitteman says that ForgedAlliance.exe has been started 400ms before it tried to download updates. Something is wrong in the order, probably related to threading issues

[2019-01-04 20:54] germanicianus commented on #1080
Please create a batch file with the following content in the directory where you installed the client (`downlords-faf-client.exe` is located there) and always use it for launching the client. If the JVM then crashes, a core dump will be created.
[code]

[2019-01-04 21:19] PhilipJFryFAF opened #1083 "Add support for mod packs"
I recently uploaded a few BrewLAN mod packs containing about 30 individual mods to the mod vault.

Downloading them from the vault works just fine but when the individual sim mods in the mod pack are enabled then users who look at the lobby just see an unknown sim mod which discourages them from joining.
Even worse when they try to join they simply get an error about the host having left the lobby

[2019-01-04 21:20] PhilipJFryFAF commented on #1083
![image](https://user-images.githubusercontent.com/24656673/50711581-f555d200-106e-11e9-9302-830ce3a50017.png)
example of such a lobby

[2019-01-04 21:54] PhilipJFryFAF commented on #1083
ok nvm - the issue with not being able to join due to the "unknown sim mod" is only present in the python client - downlords client deals just fine with the mod packs (aside from showing unknown sim mods in the lobby preview)

i guess i'll just close this issue

[2019-01-04 21:54] #1083 closed, assigned to nobody

[2019-01-04 22:36] tomaskir commented on #1080
Script would not launch as provided.
Had to adjust line 5 for `%java_binary%` to be enclosed in `"` (since the path contains spaces).

After that fix, I now get:
[code]

[2019-01-04 23:26] germanicianus commented on #1080
I adopted the batch script from my bash script and had to remove all the double quotes which I put to prevent issues with spaces. I had to remove them because Windows 7 couldn't cope with them and I usually have no spaces in my paths. The error you now get is exactly because of spaces in your path(s) and double quotes at the incorrect place. ~~The easiest (temporary) solution for you is to copy th

[2019-01-05 00:38] germanicianus commented on #1080
~~A better solution is to use relative paths - see below (yet untested). I hope that works, otherwise I will fix it asap.~~ I fixed the quotes. Use below as batch content.
[code]

[2019-01-05 13:27] germanicianus commented on #1080
I fixed the quotes of the batch content. See my changed comment above. Please give feedback when you successfully ran it.

[2019-01-05 13:46] germanicianus opened #1084 "Avatar selection dropdown has no background (is transparent)"
Version: 0.9.3-beta
![image](https://user-images.githubusercontent.com/37223176/50725084-77d6a400-10f8-11e9-844a-4d2af69e6b71.png)

[2019-01-05 13:48] micheljung commented on #1084
I wonder if this isn't caused by an exception in the background

[2019-01-05 13:50] germanicianus opened #1085 "Avatar dropdown in chat user list just vanishes after a few seconds after not clicking"
Version: 0.9.3-beta
That may happen because of the automatic chat user list update.

[2019-01-05 13:58] germanicianus opened #1086 "Many NullPointerExceptions when coloring users in chat user list"
Version: 0.9.3-beta
Colors are applied to current messages, but not future messages. Maybe issue #1013 is related to this. Stack trace:
[code]

[2019-01-05 14:04] germanicianus opened #1087 "NullPointerException on clicking desktop notification of leaving user"
Version: 0.9.3-beta
Example notification: `<user> is now offline`
Stack trace:
[code]

[2019-01-05 14:38] germanicianus opened #1088 "Provide easy means to list and join chat channels"

[2019-01-06 07:18] speed2CZ opened #1090 "Coop leaderboards for All players doesnt load anything"
When you click on the option All , it should show a mix of best times no matter the player count. But it doesn't show anything.

I guess some bad query?
![downlords-faf-client_2019-01-06_08-16-07](https://user-images.githubusercontent.com/10947024/50733311-9e91ea80-118b-11e9-8632-ac09366f945a.png)

[2019-01-06 07:23] speed2CZ opened #1091 "Coop - no way to tell what mission is hosted"
Let's say the map preview would work, there are still different missions on a same map, that would increase your chances guessing which one it is, but still better to add the name there.

In the python client you can find out the mission from the map name at least.

![downlords-faf-client_2019-01-06_08-19-15](https://user-images.githubusercontent.com/10947024/50733333-03e5db80-118c-11e9-8556-888aa

[2019-01-06 07:35] speed2CZ opened #1092 "Chat - autocomplete of names doesnt work for only IRC users"
So today I wanted to ping all the peasants on the moderators and friend list, but when writing Phil and pressing tab, nothing happened... expected result was to autocomplete to  PhilipJFry_irc

After quick test I found out the autocomplete of names by pressing Tab works only for FAF users and not for those who are only connected to IRC

[2019-01-06 23:48] 1-alex98 commented on #1052
why not that is the querry i do most often why not add it then

[2019-01-07 00:08] 1-alex98 commented on #1076
sure that is something we should work on? I think that is fine... if you want a proper restart i think you will have to restart

[2019-01-07 00:16] 1-alex98 commented on #984
https://github.com/FAForever/downlords-faf-client/wiki/Install-on-Linux

[2019-01-07 00:16] #984 closed, assigned to nobody

[2019-01-07 08:58] Rackover commented on #1076
Well then it should be impossible to change the API url when logging out if the API has already been connected. If you can change it but it doesn't change, it's a bug, not a feature.
But let me tell you it would be much more appreciated if we could just, you know, change the API by logging out and in again like it says it can.

[2019-01-18 17:41] tomaskir commented on #1080
So I have been running the lobby using the script for the past 2 weeks (since you posted the original script).

I am still running the original script which worked only with a non-spaced path.
(so current path to the directory with the script and the client does not contain a space)

I have not had a single crash since.
Everything has been working fine for about 20 games over those past 2 weeks.

[2019-01-18 19:23] 1-alex98 commented on #1080
There should not be anything different @germanicianus right?

[2019-01-19 11:59] micheljung opened #1094 "Gateway address can't be detected on Russian system"
From http://forums.faforever.com/viewtopic.php?f=3&t=17116#p171204

`netstat -rn` returns:
[code]

This isn't parsed correctly:

[code]

I suspect that the encoding needs to be specified correctly.

[2019-01-21 16:19] tatsujb commented on #1081
@muellni you said :

what do you mean by that?

you made it executable but are you telling FAF to point to that for FA in it's settings? what exactly are you doing?

asking because I also have problems.

[2019-01-21 16:37] tatsujb opened #1095 "[ Linux ] [ v0.9.3-beta ] 1v1 support"
#The real issue :
https://github.com/FAForever/downlords-faf-client/issues/1095#issuecomment-515583795
--------------------------------------------------------------------------------------------
I get everything working except 1v1  and featured mods :

![Screenshot from 2019-08-04 00-59-55](https://user-images.githubusercontent.com/5132359/62417579-39d03d00-b653-11e9-9e9b-c1ae492e9175.png)

[code

[2019-01-21 16:58] tatsujb opened #1096 "[ Linux ] [ v0.9.3-beta ] join global game support"
This is what I run into for a lot of global games (around 50%) when I try to join :
![screenshot from 2019-01-21 17-53-38](https://user-images.githubusercontent.com/5132359/51488302-81713480-1da5-11e9-86e4-e5cbada2c82f.png)

Here's what the stacktrace contains :
[code]

the criteria for this issue occurring seems to be that the map is non-vanilla (although how to define that is unclear because hos

[2019-01-21 17:06] tatsujb opened #1097 "[ v0.9.3-beta ] Replay vault: search for ID throws an error if query contains non numeric characters"
Searching with any option and any keyword under the "Vault" -> "Online Replays" tab results in this
![screenshot from 2019-01-21 18-02-33](https://user-images.githubusercontent.com/5132359/51488780-c34eaa80-1da6-11e9-9b44-029bb0c95a2b.png)

Here is the content of the Stacktrace :

[code]

for reference I am using this guide : https://youtu.be/RRINgZQl7LU
(text version here : https://pastebin.com/j

[2019-01-21 17:10] tatsujb opened #1098 "[FIXED][ Linux ] [ v0.9.3-beta ] clicking the bell icon causes graphical glitch"
If I click on the bell icon (no active notifications or active notifications, both will cause it.) I'm treated to a sort of render glitch (there may be interactive content within but I cannot see it, hovering different areas my mouse indeed switches between cursor and click-pointer, indicating different areas, some clickable some not)

clicking the faf client will close the area as expected :

![s

[2019-01-22 09:12] germanicianus commented on #1080
Of course there is a big difference.

This is the command which my current script generates on Linux (manually formatted):
[code]

These are the JVM arguments from his crash log (jvm_args, manually formatted):
[code]

[2019-01-22 10:47] tomaskir commented on #1080
Any idea why this would fix the crashes?

[2019-01-22 11:04] muellni commented on #1081
I mean `chmod +x ~/.faforever/bin/ForgedAlliance.exe`. The client downloads and runs this executable automatically. But on Linux this file need the executable flag, else the system won't start it.
I suggest that the client sets the executable flag (since it downloads/creates that file).

[2019-01-22 12:16] tatsujb commented on #1081
@muellni  ok then I correctly understood you.

what I don't understand is why after having made it executable nothing changed for me.

I could join and host global games but couldn't join 1v1s

and after making it executable, all of the above remains true.

what did it change for you?

also do you have one of these issues?

https://github.com/FAForever/downlords-faf-client/issues/1096
https://gith

[2019-01-22 13:09] tatsujb commented on #1081
Ok so I hadn't deleted my .faforever folder and .com.faforever.client.FafClientApplication folder.

deleting them caused the fact that .faforever/bin/ForgedAlliance.exe was now executable to be taken into consideration and now I no longer experience those two bugs.

thanks for posting this issue. it helped me understand mine.

[2019-01-22 13:41] tatsujb commented on #1096
fixed by making  `$HOME/.faforever/bin/ForgedAlliance.exe` executable, as indicated in : https://github.com/FAForever/downlords-faf-client/issues/1081

the solution is therefore that that file be tarballed with executable permissions on.

extracting with `tar -pxvzf xxx.tar.gz` will then preserve the permissions.

[2019-01-22 13:41] #1096 closed, assigned to nobody

[2019-01-22 13:41] tatsujb commented on #1095
fixed by making  `$HOME/.faforever/bin/ForgedAlliance.exe` executable, as indicated in : https://github.com/FAForever/downlords-faf-client/issues/1081

the solution is therefore that that file be tarballed with executable permissions on.

extracting with `tar -pxvzf xxx.tar.gz` will then preserve the permissions.

[2019-01-22 14:23] tatsujb opened #1099 "[ Linux ] [ v0.9.3-beta ] notifications make no sound."
on linux notifications don't do ping sounds nor do they really conform to what you configure them to.

what works :

- positioning
- disabling friend joins game notification
- disabling ranked 1v1 notification
- disabling PM received notification

what doesn't work :

- sound
- disabling notifications entirely (I suspect that game full notification remaining is intentional but friend joins and fri

[2019-01-23 04:36] Askaholic opened #1100 "Periodically verify game location settings"
I recently had the issue that my game location was configured wrong because it used to be installed on one drive, but then was moved to a different drive. The `Supreme Commander Forged Alliance` folder still existed, but it only had the `maps` folder left. Everything else including `bin` got deleted.

The result is that when you try to launch a game, the client does it's usual update and download

[2019-01-23 09:11] germanicianus commented on #1080
Not exactly. My command is a minimal one and leaves out all unnecessary parameters which means it doesn’t use any path outside of the client directory. Furthermore it doesn’t use the included exe but directly the Java binary. Therefore it is likely that the original command causes loading of a component/library/dll which conflicts with another one.

Verifying that needs quite some effort because i

[2019-01-23 11:12] micheljung commented on #1080
@tomaskir which java version are you using? Would be interesting to know if you have the same issue if you use the one shipped in `c:\games\downlord's faf client\jre\bin`

[2019-01-23 12:00] tatsujb opened #1101 "[ Linux ] [ v0.9.3-beta ] update"
![screenshot from 2018-12-21 15-45-40](https://user-images.githubusercontent.com/5132359/51605072-40486400-1f0e-11e9-9aa6-16a0ed8bdb5a.png)

updating to new version now correctly fetches the linux version instead of the .exe

I guess it's WIP since it probably should be doing something more than just downloading it to $HOME/.faforever/cache/update and not even telling the user it is downloaded and

[2019-01-23 12:13] tomaskir commented on #1080
[code]

It seems the client ships with Java 10 - so it is possible this is only an issue in Java 10.

Any chance for a modification to the script to run with the packaged JRE?

[2019-01-23 14:03] Justify87 opened #1102 "[Feature Request] Please allow deleting maps from game creation dialog or map vault"
![grafik](https://user-images.githubusercontent.com/10554299/51611433-84903000-1f1f-11e9-9377-97b6a849da59.png)

Either via left click --> delete or delete key/button
Or make the map vault able to list and delete locally installed maps

[2019-01-23 19:34] germanicianus commented on #1080
My script already uses the JRE packaged with the client:

`%~dp0` is a variable holding the path where the batch file is located. All paths are built using that base path. That is why I wrote:

[2019-01-24 21:42] ch3oh commented on #1078
If the limit must remain for the near future then at least display the most recent 300 replays.

For info I have a replay folder containing 4,688 replays from 18/05/2013 through to 24/01/2019 so any upper limit needs to be somewhere north of this.

[2019-01-25 23:53] tatsujb commented on #1026
My bad I hadn't seen this one, here's what I wrote In, my own thread (https://github.com/FAForever/downlords-faf-client/issues/1101) :

![screenshot from 2018-12-21 15-45-40](https://user-images.githubusercontent.com/5132359/51605072-40486400-1f0e-11e9-9aa6-16a0ed8bdb5a.png)

updating to new version now correctly fetches the linux version instead of the .exe

I guess it's WIP since it probably sho

[2019-01-25 23:54] tatsujb commented on #1101
already declared : https://github.com/FAForever/downlords-faf-client/issues/1026

[2019-01-25 23:54] #1101 closed, assigned to nobody

[2019-01-25 23:55] tatsujb commented on #984
@axel1200  new one up : https://www.youtube.com/watch?v=4B6EsXtL8C0

[2019-01-26 00:04] tatsujb commented on #1081
hey @muellni (also @Geosearchef ) could you take a look at this new install method : https://www.youtube.com/watch?v=4B6EsXtL8C0 (Steam instead of wine)

I get everything working except 1v1

I'm getting the same error as before but this time removing the .`faforever` and `.com.faforever.client.FafClientApplication` folders and making all of `.faforever/bin/` executable doesn't fix it like it did b

[2019-01-31 01:36] douglasg14b commented on #1081
Also having the same issue as @tatsujb kinda sucks since I have 0 rank and 0 games played, makes it difficult to get into custom games...

I wonder if the previous 1v1 support should be re-opened and this be there instead? Would be more semantic given the title of this issue.

[2019-01-31 12:11] tatsujb commented on #1098
seems fixed now? after my new guide. super wierd.

[2019-02-01 02:21] douglasg14b opened #1103 "[ Linux ] [ v0.9.3-beta ] Statistics and Achievements are not recorded"
Statistics and Achievements do not seem to be recorded on the Linux client.

[2019-02-02 15:05] #732 closed, assigned to 1-alex98

[2019-02-02 15:40] PhilipJFryFAF commented on #453
I'd prefer having channel topics since it's an easy way to provide some basic info/links etc
Very nice for tourney channels or clan channels but also aeolus

If we don't have a topic then we should have some other way of providing the info that is currently stored in it

[2019-02-05 13:24] Justify87 opened #1104 "Out Of Memory Error while browsing the map vault"
java.util.concurrent.CompletionException: java.lang.OutOfMemoryError: Java heap space
	at java.base/java.util.concurrent.CompletableFuture.encodeThrowable(Unknown Source)
	at java.base/java.util.concurrent.CompletableFuture.completeThrowable(Unknown Source)
	at java.base/java.util.concurrent.CompletableFuture$UniAccept.tryFire(Unknown Source)
	at java.base/java.util.concurrent.CompletableFuture.po

[2019-02-06 11:08] Justify87 opened #1105 "Map Vault: Search for width/height in km rather than pixels"
![grafik](https://user-images.githubusercontent.com/10554299/52336490-59204180-2a05-11e9-9c9a-6db6a8f0e0b5.png)

The first parameter (max players) doesn't matter here. No matter if I use only height or only width or both, no maps are found.

This query gives all maps greater than 20k:
latestVersion.width=gt="2000"
This though does not work:
latestVersion.width=="2000"
This shows setons and dual ga

[2019-02-07 20:39] EmielWitteman commented on #1072
I'm currently trying the script from issue https://github.com/FAForever/downlords-faf-client/issues/1080
I'll report any crashes or success after I tried this for some time...

[2019-02-07 21:52] Brutus5000 commented on #1105
I can't see the German translation on this screenshot but in English, the name clearly indicates that width and height are in pixels and not in kilometers.
256px = 5km
512px = 10km
...

Could take an improvement, but technically no error.

[2019-02-07 21:53] Brutus5000 commented on #1104
Can you reproduce this? How many times did you click on load more? How much memory has your system?
(By the way this is the reason why the local replay vault is limited to 300 records - in a bad way though)

[2019-02-07 21:55] Brutus5000 commented on #1103
This is done by the server not by the client.

[2019-02-07 21:55] #1103 closed, assigned to nobody

[2019-02-07 22:22] douglasg14b commented on #1103
@Brutus5000 Where do I create an issue with this then? Since this only happens when using the Linux client, that seems to be a correlation. Isn't the client responsible for sending that information to the server?

Just trying to figure this out, since it's a bit odd.

[2019-02-07 23:58] Brutus5000 commented on #1103
First, there is no dedicated "Linux client". There is the python/legacy client and the Java client. You can run both under Windows and Linux as well, while Linux is still quirky.

Second, the statistics for achievement are taken from the data stream of the Forged Alliance game  process. The FAF client only acts as a relay and forwards the data. If the FAF client relay functionality would be broken

[2019-02-08 08:50] Iridescens commented on #1094
According to data presented by player it is clear that the GatewayUtil code itself is working despite having garbled characters. Fixing encoding issues will not solve this particular case as player's network config is a busted by not having a default GW. The "On-link" GW for 0.0.0.0 is FUBAR.
Can't imagine this happening as he/she shouldn't be able to connect to Internet as well.

[2019-02-08 10:46] Justify87 commented on #1105
There is no mentioning of the unit being pixels in the translation. Why would you even do that if the game measures it in kilometers and all users talk about map sizes in kilometers, except maybe map creators? What ever the reasons - at least both should be available. Otherwise it's just confusing and to the average user it surely appears to be an error. Since some forum post mentioned this client

[2019-02-08 10:53] Justify87 commented on #1104
For reprododuction:
- Go to map vault
- Dont' search for anything
- Click on this (newst maps):
![grafik](https://user-images.githubusercontent.com/10554299/52474053-a3392c80-2b97-11e9-97a5-9b2e7cf4e4c4.png)
- the second clicks on this button will trigger the error
![grafik](https://user-images.githubusercontent.com/10554299/52474114-d1b70780-2b97-11e9-8bba-9a54669e87ce.png)

I have 500GB of SSD R

[2019-02-08 17:19] Brutus5000 commented on #1105
I know. That's not the only case where the query builder is not optimal.
For the pixels: this is what is read from the map files and stored in the database. Technically we can, of course, map this to kilometers but I do not believe that the current query builder architecture is capable to do this.
Needs an overall refactoring to make it more user-friendly. This is also a known topic in the feedbac

[2019-02-08 23:23] Brutus5000 commented on #1104
I tried to reproduce this. Everything works. The client memory sticks between 1,0 and 1,1 GB RAM. This should not be a problem on a 16GB RAM machine.

[2019-02-09 15:29] tatsujb opened #1106 "[ Linux ] [ v0.9.3-beta ] links in chat do not respect default application"
under linux with FAF in aeolus, FAF opens links with chrome instead of chromium, my default app  :
![screenshot from 2019-02-09 16-25-52](https://user-images.githubusercontent.com/5132359/52522569-63ea0900-2c87-11e9-9696-27f1aac37b78.png)

this is weird because other app that can open links, such as steam or file browser correctly open up chromium. FAF is the only app for which this happens.

I've

[2019-02-10 13:35] germanicianus commented on #1105
Yes, at least not in the German translation. In English and Chinese the unit "px" is mentioned.

[2019-02-10 19:58] Wesmania commented on #1081
How are you supposed to run a Windows executable on Linux directly? You should run them via wine anyway, and it doesn't care if the file it runs is marked as executable. If running the executable directly, then it's probably because the system associated Windows executables with Wine, but that's not the case in every distro.

[2019-02-10 20:11] douglasg14b commented on #1081
Linking to the 1v1 thread for the above issues tatsu and I where having: https://github.com/FAForever/downlords-faf-client/issues/1095

[2019-02-13 21:14] Brutus5000 opened #1107 "(All vaults) Selecting a value from a combobox does not work / throws exception"
[code]

[2019-02-13 21:37] Brutus5000 commented on #1097
This only happens if you give an alphanumeric value for the ID property because our API expects a number here. On the title, this does not throw an error.

**This is not a Linux issue. All platforms are affected.**

Unfortunately, this is not easily solvable. JSONAPI declares ID to be a String, but technically it remains a number in the database. I will try to tackle this in the query criteria ref

[2019-02-15 09:41] #1107 closed, assigned to Brutus5000

[2019-02-15 09:48] #1090 closed, assigned to Brutus5000

[2019-02-15 20:58] Brutus5000 commented on #1053
It's working again. As such I'm closing the ticket:

![grafik](https://user-images.githubusercontent.com/6843462/52883896-cbfb8c00-316c-11e9-9b8b-d1be92ddab90.png)

[2019-02-15 20:58] #1053 closed, assigned to nobody

[2019-02-18 16:43] Geosearchef opened #1113 "Sort tournaments by newest"
Mountain:

in the Java client in the tournaments tab the oldest tournaments are at the top, would it be possible to make it so newest tournaments are at the top?

forwarded from tournament director Rowey:

"I'm not sure how easy this is but its a suggestion. with the Tournaments tab in the Java Client it would be nice to have the new tournaments at the top of the list instead at the bottom and als

[2019-02-19 15:24] MikZZ-faf opened #1114 "Error fetching maps"
java.util.concurrent.CompletionException: java.nio.file.InvalidPathException: Illegal char <:> at index 7: starway:_krasnograd.v0001.png

[2019-02-19 15:26] EmielWitteman commented on #1072
I have had no more crashes since I start with the script from issue #1080, so it seems to be a java related problem.

[2019-02-20 18:24] #1098 closed, assigned to nobody

[2019-02-22 12:02] 1-alex98 commented on #1114
We know this error for years lemme check the staus. So this is definetly a duplicate

[2019-02-22 12:03] 1-alex98 commented on #1114
#902 #852 #614

[2019-02-22 12:07] 1-alex98 commented on #1114
https://github.com/FAForever/faf-java-api/pull/208 we solved it for newely uploaded maps however their are still old maps that conatin illegal characters

[2019-02-22 12:08] 1-alex98 commented on #1114
told mods to hide map

[2019-02-22 12:08] #1114 closed, assigned to nobody

[2019-02-22 17:18] Serverfrog opened #1116 "u00200 instead of Whitespace in Leaderboard Co-Op"
In the Leaderboard of the Co-Op, instead of a Space,, a u00200 is printed
![u00200](https://user-images.githubusercontent.com/1306404/53258970-42007580-36ce-11e9-9729-6f772252f8da.PNG)

[2019-02-22 18:21] 1-alex98 commented on #1106
Probably the java Routine we use decides so

[2019-02-22 18:22] 1-alex98 commented on #1104
The more button is known to cause probelems. We want to make proper paging one day...

[2019-02-22 18:23] 1-alex98 commented on #1102
Second one would be better

[2019-02-23 17:32] #1019 closed, assigned to Brutus5000

[2019-02-23 18:41] #1013 closed, assigned to Brutus5000

[2019-02-23 18:41] #1086 closed, assigned to Brutus5000

[2019-02-24 21:42] #1092 closed, assigned to Brutus5000

[2019-02-26 17:24] Justify87 commented on #1102
Yeah at first glance, the second one would be better. But from a user perspective, the dialog for creating a game is the one that need the ability for deleting maps too, because that's when I notice that I need to delete all the crap maps. And I don't want to leave my already setted up game just to go to the map vault.

[2019-02-26 22:57] 1-alex98 opened #1120 "Newest maps also contains hidden maps"

[2019-02-27 01:40] TheKoopa321 commented on #1078
I agree it would be a great improvement. At least to show the latest instead of the oldest.

You can modify the .class file in downlords-faf-client-0.9.3-beta.jar and replace 300 with 1000 for exemple. I did it and it works fine.

[2019-02-27 19:48] 1-alex98 commented on #1026
I dont know much about Linux i am an Windows user

[2019-02-27 19:49] 1-alex98 commented on #1026
You would need to modify the travis build procedure to also build a .deb if you want this

[2019-02-27 19:50] 1-alex98 commented on #1026
Somewhere there it is built with install4j https://github.com/FAForever/downlords-faf-client/blob/7615f38b24c130b7735fe0785dfa04984b1e8dae/ci/github-release.sh#L13

[2019-02-27 19:52] Geosearchef commented on #1026
Just run the buildInstall4jMediaFiles gradle task when having a licensed version of install4j installed. I can do that in a few days once I get some (a lot of) free time.

[2019-02-27 19:52] 1-alex98 commented on #1026
https://www.ej-technologies.com/resources/install4j/help/doc/#install4j.welcome

[2019-02-27 19:53] 1-alex98 commented on #1026
But don't do it once pls. Pls built it in to the travis task then. Otherwise it can only be built locally

[2019-02-27 19:54] 1-alex98 commented on #1078
The thing is we need to do some kind of paging then if we load 4688 replays the client will run out of Memory

[2019-02-27 20:07] 1-alex98 commented on #1113
Tournament sorting acctually makes sense all those at top are the ones still open

[2019-02-27 20:10] Geosearchef commented on #1026
While we're talking about once, post only once please :grinning:

[2019-03-02 21:11] tatsujb opened #1125 "git repo releases are not browsable by api?"
https://gist.github.com/lukechilds/a83e1d7127b78fef38c2914c4ececc3c

the above trick gets me :

[code]

if I just try  https://api.github.com/repos/FAForever/downlords-faf-client/releases/latest

tags does not work either :

[code]

https://api.github.com/repos/FAForever/downlords-faf-client/tags/latest

the following does not work either in shell :
[code]

[2019-03-02 23:09] #1087 closed, assigned to nobody

[2019-03-02 23:19] Brutus5000 commented on #1125
This is probably related to all releases marked as pre-release.
The list itself is here https://api.github.com/repos/FAForever/downlords-faf-client/releases and seems to be properly sorted, so as a workaround you could always fetch the first element in that list (but without guarantees that it won't break later on)

[2019-03-03 00:09] tatsujb opened #1126 "[ Linux ] accepting ideas for .desktop launcher"
I've tried everything.

any suggestions for getting an ubunu/debian desktop launcher working?

these are .desktop files with this sort of format :

[code]

it should work but does not. it and just about 200 other variants I've tried.

java FAF is the one and only app that has eluded gui-launch for over a year now.

[2019-03-03 14:12] tatsujb opened #1127 "edits to client.prefs aren't taken into account."
say you started FAF for the first time. you logged in then you closed it.

you then edited the .faforever/client.prefs to the appropriate values for your game's location.

when you start FAF back up the fields are still empty/haven't changed.

where else are these values supposed to be changed.

may be a linux-specific issue.

[2019-03-03 17:26] 1-alex98 commented on #1127
The values are not supposed to be changed at all in the client.prefs. You are suppossed to set them in settings or else where. But when you do it should actually have an effect. Tell me exactly what u changed and what u expect it to do...

[2019-03-03 17:27] #1125 closed, assigned to nobody

[2019-03-03 17:34] tatsujb commented on #1127
well I'd like for editing FAF settings to be scriptable as a part of my install script.

[2019-03-03 21:58] tatsujb commented on #1026
I have a new install method that's WIP, that I'd like feedback on : https://github.com/tatsujb/installFAFscript (plus this script uses gallium 9 flavor of Proton)

[2019-03-04 10:30] Geosearchef commented on #1097
This also happens when using contains and entering any ID as the api probably doesn't expect the non numeric stars in the id:

https://api.faforever.com/data/game?filter=id==%22*9351058*%22

[2019-03-04 13:19] tatsujb opened #1128 "[ Linux ]Java Runtime Environment Runtime Fatal Error"
on some systems (testing in this case on linux) this error might pop up when trying to run faf :

[code]

FAF client is visible for a second but disappears almost instantly.

right now I' can't determine the cause.

has anyone had this?

[2019-03-05 00:09] tatsujb opened #1129 "the bireus error"
Upon hosting a game in FAF client I get this  in the console that is running FAF client with a short and a long variant.

short :
[code]
long :
[code]
I also get a FAF error report inside FAF gui on modded map join :
[code]
I can't really explain this bug since after checking everything, every sort of factor that could be at play system-wide I can't really find a cause.

this: `http://content.fafo

[2019-03-11 09:57] tatsujb commented on #1128
figured it out, this is a linux-only issue : https://bugs.openjdk.java.net/browse/JDK-8210411

On ubuntu 18.04 systems the parial implementation of Waylan, makes javaFX crash (maybe not always because I never had this issue back when I was running ubuntu 18.04 on my old PC, but my work pc that is running ubuntu 18.04 does present this issue). ubuntu 19.04 on the other hand won't produce this issue

[2019-03-11 09:57] #1128 closed, assigned to nobody

[2019-03-11 12:59] 1-alex98 commented on #1129
Bireus is not yet running at FAF bireus is a patcher so this exception is just fine please open up another issues for the other bug

[2019-03-11 12:59] #1129 closed, assigned to nobody

[2019-03-11 13:01] 1-alex98 commented on #1127
Sorry but from the description u provide i can not see what u are doing nor what the issue is

[2019-03-11 13:39] tatsujb commented on #1127
ok so I'd like for a non-human entity, a bot, a machine, a script, (while FAF is closed), to simply via modification of files, edit FAF's setting's.

and then when the actual human starts FAF, FAF will have said settings in it's settings page currently being applied.

I've edited the file `$HOME/.faforever/client.prefs` while FAF was closed then opened up FAF to find the settings not applied in th

[2019-03-11 16:24] tatsujb commented on #1095
@douglasg14b if you have time could you try the following :

create yourself an ubuntu 18.04.02 or ubuntu 19.04 USB stick from your current ubuntu
basically download the iso from ubuntu.com then run this app :
![image](https://user-images.githubusercontent.com/5132359/54128818-32429a00-440d-11e9-952a-032aced6ae26.png)

then reboot to the usb and create a dual boot on your machine for this new ubun

[2019-03-11 21:43] germanicianus commented on #1116
Usually the text is edited on https://poeditor.com and not directly in the translation files, but POEditor messes Unicode escaping up.

[2019-03-11 22:37] Chubbly commented on #1097
For further information, at least part of this bug appears to be intermittent and related specifically to Download's client, not the API call. In my client (0.9.3 beta) from New Zealand, all search requests return a 400 Bad Request error. However, a friend of mine in Germany tried the ID search and had no issues. I mention the countries just on the off-chance it is relevant.

Also, I have no issue

[2019-03-19 23:14] 1-alex98 commented on #1127
I think it is the right way to do it ;) maybe on linux it is the wrong location up that is more a question for @Geosearchef

[2019-03-19 23:15] 1-alex98 commented on #1116
Yeah it needs to be done in poeditor @Serverfrog you are gonna do it or shall i?

[2019-03-19 23:16] 1-alex98 opened #1130 "Add average rating column to game table"

[2019-03-19 23:22] 1-alex98 commented on #1073
This a a known Linux issue i belive. Right you were on Linux and I think that happens in gerneral when downloading maps on linux.

[2019-03-20 09:43] Serverfrog commented on #1116
@axel1200 sadly i can't see any projects on POEditor

[2019-03-20 17:10] 1-alex98 commented on #1116
oh true @micheljung will need to invite you i fear

[2019-03-20 18:57] #1120 closed, assigned to 1-alex98

[2019-03-20 19:55] #912 closed, assigned to nobody

[2019-03-20 19:56] #1091 closed, assigned to 1-alex98

[2019-03-20 20:28] #987 closed, assigned to DarkHorseV1

[2019-03-20 20:29] #1059 closed, assigned to nobody

[2019-03-20 20:40] 1-alex98 commented on #1092
@Brutus5000 where is the PR ??? did it get merged

[2019-03-20 20:41] 1-alex98 commented on #1086
@Brutus5000 where is the PR did it get merged?

[2019-03-20 20:42] 1-alex98 commented on #1013
@Brutus5000 where is the PR did it get merged?

[2019-03-20 20:47] Brutus5000 commented on #1013
https://github.com/FAForever/downlords-faf-client/pull/1112

[2019-03-20 20:48] Brutus5000 commented on #1086
https://github.com/FAForever/downlords-faf-client/pull/1112

[2019-03-20 21:41] Brutus5000 commented on #1113
Looks like something recently broke it :(

[2019-03-20 22:23] Brutus5000 opened #1131 "GamePaths cannot be nulled"
e.g. if you set a default execution location or a background image location once, you can no longer return to the default. The empty string in Paths.get() leads to the client-directory being returned instead.

[2019-03-20 23:22] #1131 closed, assigned to nobody

[2019-03-21 01:04] 1-alex98 commented on #1080
what if we use engine.executescript and call the function in the script as a workaround.

[2019-03-21 01:14] 1-alex98 commented on #1080
@tomaskir did you use custom or random chat colors for users?

[2019-03-21 01:15] tomaskir commented on #1080
@axel1200 no; in fact, I don't use the chat in the lobby at all.

[2019-03-21 13:21] tatsujb commented on #1127
yeah I think it actually applies but what's shown in the GUI isn't ncessarilly loaded from that file, it just saves to that file if ever the value is edited in GUI. It probably loads from `.com.faforever.client.FafClientApplication` I'll test and see if edited values actually apply even if they don't show when I have the time. if that's the case then we can close this as for the purposes of my ins

[2019-03-21 16:55] 1-alex98 commented on #1127
Ok so values are written as soon as you close the settings window. You should definetly only write to that file if the client is closed otherwise it might be over written or not loaded

[2019-03-21 17:21] 1-alex98 commented on #1080
if you dont open it at all it wont happen btw ;)

[2019-03-21 17:23] tomaskir commented on #1080
I do not know if the crashes occurred only when I did click the "Chat" tab for some reason.
But I so rarely click it, I don't think that's the case.

I have been running through the debug script for the past 3 months, and there was not a single crash.

[2019-03-21 17:25] 1-alex98 commented on #1080
I just debuged it and it is also called when chat tab is not open tho

[2019-03-21 18:41] 1-alex98 commented on #1080
That might be a workaround

[2019-03-21 18:44] 1-alex98 commented on #1080
@tomaskir can build u a version to try out if u want to try

[2019-03-21 18:51] tomaskir commented on #1080
Sure, I can test.

[2019-03-22 14:53] 1-alex98 commented on #1080
File was to big for GitHub so uploaded at Gdrive
@tomaskir https://drive.google.com/file/d/1sk8yYXY-azKpQf6swI5OOhUYL313qZT2/view?usp=sharing

[2019-03-22 15:13] 1-alex98 commented on #1080
@tomaskir But it happend like all the time right? And with different versions so if it works now it does most likely fix it right?

[2019-03-22 16:16] tomaskir commented on #1080
I happened about once every 5-8 games since 0.9.0.
So quite often.

I will let you know how it goes after playing with the build you provided.

[2019-03-22 22:26] tomaskir commented on #1080
The build you provided sadly doesn't work.

I can't host a game:
[code]

Also a bunch of exceptions when running the debug mode script:
https://gist.github.com/tomaskir/49c3c844b967f35de8281de82fb395da

[2019-03-23 12:41] 1-alex98 commented on #1080
oh wait :D i think i built an ICE version ... ups
ICE is the new protocol and is already in the main branch however it is not yet deployed at FAF
So i need to rebase an extra branch on top for it to work

Gonna do this now then.

@tomaskir sorry for the inconvenience

[2019-03-23 12:43] 1-alex98 opened #1134 "Coop mission name resolving seems to not work correctly"
[code]

[2019-03-23 12:46] 1-alex98 commented on #1080
There are some other Exceptions in there related to a change i did lately thx every much it seems the change I made is not done correctly i opened a separate issue for that

[2019-03-24 00:24] 1-alex98 commented on #1080
@tomaskir second try https://drive.google.com/file/d/11v1_f9h8UNBcFybv8F5jXvDMg330QSRZ/view?usp=sharing

[2019-03-26 11:46] 1-alex98 commented on #1080
@tomaskir tell me if you tired we would be really keen on fixing this problem :D there are also others that face this problem however they are mostly not reachable after they report the problem ;)

[2019-03-26 19:16] badbwoi opened #1136 "map vault: display number of downloads & latest map version"
Hey,
I like the way you present map stats and love "times played" because it shows the plays of a map over all versions!

It would be a nice addition to actually display the total amount/number of downloads from a map, like you do it with "times played". Now sorting for "downloads" is applied, but no value for downloads is shown.
And could you please add the information about the latest map versio

[2019-03-26 19:25] badbwoi opened #1137 "map description to long to be displayed"
Hello, parts of the description are cut off (to long to be displayed).
Due to this bug, content is at the moment not accessible.
Could you please give the description more space or make the window responsive to the amount of text?
![image](https://user-images.githubusercontent.com/28671151/55027283-31148e00-5005-11e9-87a3-b0e298c7fc98.png)

[2019-03-26 21:20] tomaskir commented on #1080
Testing the build today/tomorrow.

Need multiple games to know if this is fixed or not.

[2019-03-28 08:42] 1-alex98 commented on #1080
Actually you probably dont need to play games having it open for a long time will probably also do. But yeah play a few games as well it might be connected tho i don't think so.

[2019-03-28 19:13] 1-alex98 commented on #1136
Not sure if we have that value

[2019-03-28 19:14] 1-alex98 commented on #1136
Yeah we do

[2019-03-28 19:16] 1-alex98 commented on #1136
Easy to abuse tho i can just push my map to top downloaded with a script i write in like 10 min... Tho that would be quite obvious

[2019-03-28 19:20] 1-alex98 commented on #1136
We only display latest versions at all so there would not need to be such a thing as to highlight if a map is the latest version

[2019-03-28 21:31] badbwoi commented on #1136
I see your point, but couldn't that be done with plays as well, if someone really wanted to?

Displaying the latest map version and having the latest map version is a different thing. By adding the latest version a map maker or player can identify if he already has the latest version. Now we can only check via "install/uninstall" if we are on the latest map version. I would just love to see the ac

[2019-03-29 12:41] 1-alex98 commented on #1136
Ok so maybe we should make that a separate issue

[2019-03-29 12:42] 1-alex98 commented on #1136
I think we have an issue on the download count number already as well

[2019-03-30 15:21] TheBlueTroll commented on #1126
i just chucked all the stuff in my run.sh into a desktop launcher, and got this that runs

[code]

dunno bout the icon bit, but otherwise that runs for me, just had to make sure a java 10 compatible jre was installed and that the folder was right. works on linux mint 19.1 cinnamon, but i dont see why not on ubuntu as well. good luck.

[2019-03-30 22:04] tatsujb commented on #1126
@TheBlueTroll you get a golden cookie! congrats! use it wisely!

[2019-03-30 22:04] #1126 closed, assigned to nobody

[2019-03-31 03:51] TheBlueTroll commented on #1106
soo, good news, ive got a good idea of why its not working right, but i haven't figured out how to fix it yet. the problem basically stems from the fact that its not calling xdg-open.

xdg-open is on Ubuntu, (and i assume most Ubuntu based systems, such as mint ect.) a program for automagically opening a uri with the appropriate program. the idea being to solve the problem of the absolute convolut

[2019-03-31 19:01] PhilipJFryFAF opened #1138 "improvement suggestions for search feature"
Some small requests/suggestions regarding the replay vault search:

- allow users to filter by ladder rating (currently you can filter by global only)
- allow users to sort by review score/amount of reviews (would help casters and others who wanna watch nice replays)
- change the featured game mode filter to a dropdown displaying the available game modes so people don't have to guess how the ladde

[2019-03-31 20:58] tatsujb commented on #1127
I'm having to run FAF to generate the file, then loop a "sleep" until prefs has a "username" value, then kill faf, then edit the values and immediately re-run to obtain the desired effect. a bit hacky

is it reasonable to be asking of you guys/Downlord the ability to pipe run args to faf, args including most of the important values in this prefs file?

would seem neat to me. kinda like how I can s

[2019-03-31 21:30] tomaskir commented on #1080
I have been running the build for 3 days straight.
No crashes.

However, due to work and no free time, I have not played a game until today.
Still can't host a game with the build you provided.

Telling me I have not run a connectivity test or am not connected.

However due to no crash in 3 days, I think this might be a valid fix for this issue.

[2019-04-02 20:17] RecklessCharger opened #1139 "Error searching replay vault by rating and mod name"
Have been trying to search the vault by one of players ratings is greater than, and an added criteria that the game mod name contains ladder. Error msg is below.
Edit: this also happens with searching by one of players ratings on its own....

java.util.concurrent.CompletionException: org.springframework.web.client.HttpServerErrorException$GatewayTimeout: 504 Gateway Time-out
	at org.springframewor

[2019-04-02 20:25] RecklessCharger opened #1140 "Remember password when creating game"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%245%20Rewarded-%237E24E3.svg" />](https://issuehunt.io/r/FAForever/downlords-faf-client/issues/1140)

Can we please have the client remember the password ('Password (optional)') as well as the status of the 'Only show to friends' check box when in the Create Game dialologue? Its a pain having to click these every time when y

[2019-04-02 20:30] RecklessCharger opened #1141 "Local replays not updating till client restarted"
Can we at least have a refresh button for local replays as I don't think any local replays of games in the current session are shown. Client needs to be restarted.

[2019-04-02 20:36] RecklessCharger opened #1142 "Local replays default sort order"
When you start the client the local replays are not ordered  by most recent first. This should be the default. You need to click three times (!) on the header of the When column.

In fact you for all the headers of the columns you need to click 3 times to reorder them (ascending, descending and something else?). Surely there should just be ascending and descending order. Dunno if this also applies

[2019-04-02 20:45] RecklessCharger opened #1143 "Allow random selection of ladder maps in custom game"
Would it be possible to have a button in the create game dialogue (for a custom game) perhaps next to the existing random map button to select a map from the ladder pool?

There is a convoluted way to do this already by selecting a 1v1 ranked match, then selecting show ladder maps, then closing your eyes and clicking one randomly, then clicking on create game.

Options via a drop down to select fr

[2019-04-04 06:12] micheljung opened #1144 "Update install4j to 7.0.10"
See http://forums.faforever.com/viewtopic.php?f=3&t=17363&p=173159#p173159

Install4J 7.0.7 generates a `PATH` where the client's included JRE comes at last. In case there's another JRE in `PATH`, the wrong DLLs gets picked up.

Install4J 7.0.10, released on 2019-03-14 solves this issue

We're using Java 10 but apparently it suffers from the same issue.

[2019-04-04 06:26] #1144 closed, assigned to nobody

[2019-04-04 16:46] micheljung commented on #1080
This may have been fixed by #1144

You can test the fix at https://drive.google.com/file/d/1-QKQK85UvaaQewHJrrH01BrZAe_dGPa0/view?usp=drivesdk

[2019-04-04 17:27] micheljung opened #1146 "Background image not properly displayed"
Note the top and bottom

![image](https://user-images.githubusercontent.com/1864183/55575633-99532600-570f-11e9-9482-3ee79a73c7b7.png)

Probably introduced by #1059

[2019-04-04 20:13] 1-alex98 commented on #1146
defenitely introduced by #1059

[2019-04-05 15:22] badbwoi commented on #1136
Hey, sorry for the delay.
How should we progress now?
I could not find an issue for "display downloads", so should I make a separate issue for latest map version? Or is it okay like it is now?

[2019-04-07 08:54] micheljung commented on #1146
I meant #1089 which fixes #1059

It changed from `-fx-background-size: cover, auto;` to `BackgroundSize.DEFAULT` and I am 99% sure it's caused by this

[2019-04-10 16:59] AlexIzh commented on #1054
Also, now a user can't see the list of all modes for a game. Neither inside a tile nor inside right-side info

[2019-04-19 16:00] 1-alex98 commented on #1134
Lets first display unknow map instead of throwing an exception

[2019-04-20 15:06] Geosearchef opened #1149 "Client crashes on showing profile"

[2019-04-21 01:29] SpheroidDev opened #1150 "Client application (and FAF ICE window) just dissapered when game played."
Client 0.10.1-beta (just updated)
During match (~30 min from start) lost connect to all players (all quiet). Wait for about 2 minutes. Try to find some helpful info in FAF ICE debug windows and not find one. And Downlord's Client window too. Then just dissapered silently. No error messages or something. No downlords-faf-client in OS process list.
I restarted client several times, so some logs may

[2019-04-21 07:11] PhilipJFryFAF commented on #1138
another issue i stumbled across:
when looking for specific factions you get these results
cybran -> aeon
aeon -> uef
uef -> cybran
seraphim -> seraphim
i guess the main faction ids are messed up somewhere

[2019-04-21 11:09] Viba opened #1151 "IRC ignores users going offline without a quit reason (still shown online)"
Users that leave the irc server without a quit reason are not picked up by the client -> so they are still shown as online.

`13:25 -!- Heaven [253511@Clk-587B7E14.dip0.t-ipconnect.de] has quit [Quit: ]`

[2019-04-21 11:32] MikZZ-faf opened #1152 "Autojoin language channels"
Now this is official client, and with these bugs we have no autojoin func to language channels.
You will get tonns of hate from non-english talkers on aeolus, and tonns of bans for non-english questions.
Plz fix it.

[2019-04-21 12:04] Geosearchef commented on #1152
#181

[2019-04-21 12:05] Geosearchef commented on #1152
#181

[2019-04-21 12:05] #1152 closed, assigned to nobody

[2019-04-21 12:06] Geosearchef opened #1153 "FA shows a grey screen after launching"
May be related to the launching of the ice adapter

[2019-04-21 12:07] Geosearchef opened #1154 "AccessDenied for FAForever/bin folder"

[2019-04-21 12:08] Geosearchef opened #1155 "Missing map when in game"
A lot of players are missing maps after joining a game. One user reported adding the following folder structure solved the issue:

```C\ProgramData\FAForever\user\My Games\Gas Powered Games\Supreme Commander Forged Alliance\maps```

[2019-04-21 12:44] akermen4 opened #1156 "In game dialogue are not being displayed correctly in FAF SC(supreme commander 1) coop missions."
There seems to be two issues with this:
1.The cutscenes don't show up in dialogue box(only factions logo are appearing).
2.secondly,the dialogues are not being displayed in correct order(for example you can hear four dialogues at once).
This problem only seems to with SC and Custom coop missions.
SCFA coop missions are fine.

[2019-04-21 14:19] dcelasun opened #1157 "0.10.0 natives/faf-uid: Operation not permitted on Linux"
This started happenning after the update, can't start FAF at all.

![Screenshot_2019-04-21_16-17-19](https://user-images.githubusercontent.com/144373/56471278-fad5fd00-6450-11e9-800a-016f3cab8566.png)

I've made sure the file is executable, even tried `chmod 777` but it doesn't work:

[code]

Stack trace:

[code]

[2019-04-21 14:20] Geosearchef commented on #1149
maybe this was due to API overload?

[2019-04-21 14:20] #1149 closed, assigned to nobody

[2019-04-21 17:18] Brutus5000 opened #1158 "Finish theming implementation"
1. There is no documentation about how to create a theme, what files are required (e.g. theme.properties) and where to put it. There is also no documentation of the versioning concept.
2. The combo box for choosing a theme in the settings is disabled in the fxml. You cannot choose a valid theme if you have one.
3. (After manually enabling the combobox) If you choose a theme that has disabled the c

[2019-04-21 17:22] Brutus5000 opened #1159 "Replay vault throws error when defining certain sort criteria"
e.g. Title or Faction

[2019-04-21 18:32] dcelasun commented on #1157
Ah, I think I've found the problem, looks like the client now expects the FAF install directory to be **owned** by the running user (`java.nio.file.Files.setPosixFilePermissions`).

I understand why you might wanna do this, but maybe just make it a warning in the console and keep going? After all, the permissions are *already* correct.

[2019-04-21 19:14] speed2CZ commented on #1155
This was the path to download maps to when the normal one in documents coundn't be used for w/e reason (like permissions and stuff)

[2019-04-21 19:44] VoRGoR opened #1160 "notification options don't work"
You can entirely turn notifications off or on, but individual options do not work.
For example:

![notifications](https://user-images.githubusercontent.com/8906373/56474761-2fa87b00-6476-11e9-8dc2-3b3ed158a6bf.PNG)

Literally nothing in the blue circle does anything. The top turn off/on all is the only thing that works.

[2019-04-22 10:48] Brutus5000 commented on #1155
Can someone confirm that this was fixed with 0.10.3-beta?

[2019-04-22 10:49] Brutus5000 commented on #1154
Can someone confirm that this was fixed with 0.10.3-beta?

[2019-04-22 12:38] #1155 closed, assigned to nobody

[2019-04-22 22:35] ArXen42 opened #1161 ""Play" Tab: Game info view not being updated when lobby closed"
The problem seems to be something like missing "lobby closed" event handling. Maybe it's intended behaviour though, not sure.

1. Create some lobby.
2. Click on it in FAF client, so that lobby info info would be shown at the right side.
3. Abandon the game (or launch it), lobby should disappear from the list of games.
4. Despite lobby no longer being in the list, it's info would still be shown at

[2019-04-23 07:11] muellni opened #1162 "don't set file permissions of faf-uid at runtime on posix systems"
You can't set the uid's permissions at runtime here: https://github.com/FAForever/downlords-faf-client/blob/develop/src/main/java/com/faforever/client/legacy/PosixUidService.java#L25

This makes downlord's client unusable on Posix currently.

This would only work, if you run downlord's client from your home directory or sth.
Whatever is packaging the release build https://github.com/FAForever/down

[2019-04-23 07:15] muellni commented on #1162
I guess the `chmod +x` has to happen somewhere here: https://github.com/FAForever/downlords-faf-client/blob/develop/build.gradle#L222

[2019-04-23 13:13] speed2CZ opened #1164 "Coop replays are broken"
Example replay: 9576247

Seems like it can't read the map properly.
It can be launched via python client without any issues.
[code]

[2019-04-23 13:13] speed2CZ commented on #560
This doesn't seems to be a problem anymore

[2019-04-23 13:17] speed2CZ commented on #1156
Here's a hacky solution: https://forums.faforever.com/viewtopic.php?f=78&t=16674&p=167547&hilit=unpack#p167547

Did you download the voice files via downlords client? If so then they prolly didnt get unpacked properly. Check if the files are where they should be as I described in the forum post.
Another issue could be a badly generated init file which doesn't load the the files...
Let us know

[2019-04-23 18:42] akermen4 commented on #1156
It works,both issues are solved.
Thank you

[2019-04-23 23:06] muellni commented on #1162
The latest release https://github.com/FAForever/downlords-faf-client/releases/download/v0.10.4-beta/dfc__unix_0_10_4-beta.tar.gz _does_ contain a `faf-uid` with proper executable permissions.
Now we need to get rid of https://github.com/FAForever/downlords-faf-client/blob/develop/src/main/java/com/faforever/client/legacy/PosixUidService.java#L25

[2019-04-24 09:32] micheljung opened #1166 "Inform about planned or current downtime on login screen"
Just like the battle.net client ![image](https://user-images.githubusercontent.com/1864183/56648959-81265500-6684-11e9-8513-88094eaa7104.png)

[2019-04-24 09:33] micheljung commented on #1158
Theming was never finished, but it's documented in code :D The button is, therefore, disabled on purpose.

[2019-04-24 09:36] micheljung commented on #1161
Yes we should remove it when the game is no longer in the list.

[2019-04-24 15:07] Androish opened #1167 "no Icon for password protected game in tile mode"
There is no way to see a game is password protected in tile mode
The password protected game is highligthed in red
![pw1](https://user-images.githubusercontent.com/16946169/56670413-18a29c80-66b3-11e9-98b0-4dc06c92b601.jpg)
Without the toggle
![nopw](https://user-images.githubusercontent.com/16946169/56670446-23f5c800-66b3-11e9-9fb1-00c343d91862.JPG)

Can anyone confirm this?

Somewhat related to

[2019-04-24 16:04] jkstpierre commented on #1150
This happened to me as well, I would love this issue to be fixed.

[2019-04-24 19:26] Gandalf2k15 opened #1168 "Add "Time" sorting option to Vault Live Replays"
It would be awesome if you could sort by time on the live replays vault like it was on the legacy client so you can see when a game was started...

[2019-04-26 08:18] EcoNooob commented on #1078
I'd say the biggest issue is that it shows the first 300 replays instead of the latest 300 replays. The local replay vault is now useless unless i want to watch replays from 2013.

[2019-04-26 09:00] PhilipJFryFAF opened #1169 "Better order of vault search options"
Currently the filter list for searching stuff on the online replay vault is hard to use:
one small but effective improvement would be to change the order in which the filters are listed

right now the first option a user gets is to search by Player UID -> most ppl don't even know their own uid not to mention anyone elses

would be great to have player name, player rating, game mode and map name on

[2019-04-26 15:03] 1-alex98 commented on #1150
@Geosearchef Any Idea what happend here?

[2019-04-26 15:05] 1-alex98 commented on #1153
Dont think so was like this before as well

[2019-04-26 15:07] 1-alex98 commented on #1156
@speed2CZ is that the thing with unpack /movies to some differnent folder?

[2019-04-26 15:08] Geosearchef commented on #1153
Only happened sometimes, this is caused by the adapter window grabbing focus during launch, we've delayed the adapter window by 10 secs now.

[2019-04-26 15:08] #1153 closed, assigned to nobody

[2019-04-26 15:09] Geosearchef commented on #1150
Yes, the client crashed without any trace.
The adapter now keeps running if it is in a game and the client crashes due to that.

[2019-04-26 15:11] 1-alex98 commented on #1150
Hmm bad without any trace is hard to solve

[2019-04-26 15:44] #1162 closed, assigned to nobody

[2019-04-26 16:00] #1151 closed, assigned to nobody

[2019-04-26 16:03] #925 closed, assigned to DarkHorseV1

[2019-04-26 17:09] #1113 closed, assigned to nobody

[2019-04-26 17:32] speed2CZ commented on #1156
hm, yes?

[2019-04-26 18:02] tatsujb commented on #984
@axel1200 hey could we have that link updated to simply my script? https://github.com/tatsujb/installFAFscript that video has been outdated for a good while yet it's been getting a good number of views from that page.

[2019-04-26 18:16] 1-alex98 commented on #1156
You told me when i did tutorials that all /movies need to be unpacked to some folder and i implemented this however this is still not merged

[2019-04-26 19:33] RecklessCharger commented on #1139
Searching by rating and mod name works fine in the 0.10.4 client so Im closing this issue.

[2019-04-26 19:33] #1139 closed, assigned to nobody

[2019-04-26 19:47] speed2CZ commented on #1156
Yeah, thats the thing, same system as for coop, much needed.

[2019-04-26 21:15] 1-alex98 commented on #1161
No wait that is not fixed by this ups

[2019-04-26 21:18] 1-alex98 commented on #937
Never happend again lately

[2019-04-26 21:18] #937 closed, assigned to nobody

[2019-04-26 22:35] 1-alex98 commented on #1156
I will try to push tutorials again. @micheljung @Geosearchef can one of you deploy tutorial featured mod I can help you do it I already did it on the test server....

[2019-04-26 22:38] Geosearchef commented on #1154
it wans't

[2019-04-26 22:41] 1-alex98 commented on #984
@tatsujb added to the readme as well

[2019-04-26 22:51] 1-alex98 opened #1170 "Dont crash if unable to delete cache file"
https://pastebin.com/juJ0EkGF

[2019-04-27 17:13] 1-alex98 commented on #1154
Please provide more info for that issue

[2019-04-27 17:13] 1-alex98 commented on #1154
What is the issue? How do i reproduce...

[2019-04-27 17:13] 1-alex98 commented on #1150
Well hard to solve if i can not reproduce?

[2019-04-27 18:05] 1-alex98 opened #1171 "Purge client.prefs if they are corrupted"

[2019-04-28 12:20] phongu opened #1173 "right sidebar - match title doesn't wrap to multiple lines"
Long game names don't wrap to a second line in the right sidebar when you select the game, generating a horizontal scrollbar and offsetting the minimap. Maybe it's better to wrap the text to multiple lines

[2019-04-28 12:50] 1-alex98 commented on #1173
👍 Yeah we know. We need to change that

[2019-04-28 14:21] 1-alex98 opened #1175 "Warn user from running the client as admin"

[2019-04-28 14:53] 1-alex98 opened #1176 "IPV6 causes problems in vault"
http://forums.faforever.com/viewtopic.php?f=3&t=17473#p173922 @Geosearchef can we just incooperate the solution you posted in the forums???

[2019-04-28 15:15] Geosearchef commented on #1176
Yeah, afaik you can set this option using System.setProperty()

[2019-04-28 16:03] 1-alex98 commented on #1176
No be can just set it in the run configs and in the instal4j file no need of any java code

[2019-04-28 22:43] tomaskir commented on #1080
Sad to report that running 0.10.4, the crashes are still present...
Installer was used to install.

ICE client also crashes when the client crashed, so I was yet again disconnected from the game :(

[code]

[2019-04-30 07:41] iamtheeggmansroyal opened #1178 "Error 34 when installing client"
cant install the update or install the app from scratch keep getting the same error app/data/local/temp/ij4_nlog_11.log

[2019-04-30 10:56] 1-alex98 commented on #1178
Please copy the whole error! I can not guess the error from the file name...

[2019-04-30 10:57] 1-alex98 commented on #1080
Hmm what now? We could still try my workaround

[2019-04-30 10:58] 1-alex98 commented on #1080
Well i mean we tested it maybe we should implement it then

[2019-04-30 12:27] iamtheeggmansroyal commented on #1178
C:\users\iamtheeggman\appData\local\temp\ij4_nlog_12.log

sorry I copied it sloppily thanks for your help

[2019-04-30 13:30] 1-alex98 commented on #1178
What is the error or does it say `C:\users\iamtheeggman\appData\local\temp\ij4_nlog_12.log` and nothing else and next would be could you send that log file

[2019-04-30 20:24] foodlfg opened #1179 "password hash is stored even if autoLogin: false"
The hashed password of the user is stored (in the client.perf file) even if `Automatic login` is not requested by the user.

Store the password hash in memory only for this specific scenario.

[2019-04-30 20:28] foodlfg opened #1180 "Don't store username and password hash in the client.prefs file"
The client stores the hash of the password in the `client.prefs` text file.
The file stores configuration related info mainly and may be requested for troubleshooting which causes the user unwillingly share his/her password.

I think it would be better to store the password hash in a separate file, in a gziped binary file even along with the username for better safety when `Automatic login` is req

[2019-04-30 21:32] iamtheeggmansroyal commented on #1178
the file doesn't exist yet? its an error while installing so it isn't on my hard drive.
it might help you to look at the last patch or the patch before it because this same error happened to me then and you guys fixed it.

[2019-05-01 11:12] iamtheeggmansroyal commented on #1178
oh above the line it says an internal error occurred error 34

[2019-05-01 11:15] 1-alex98 commented on #1178
I am really sorry but i still can not imagine what the error looks like.
Btw the patching process is not done by us but by a program called install4j

[2019-05-01 17:03] sharpsalat opened #1181 "Client crash on start"
Client crashes on start.
Tried reinstall 04 and 03 client, cleared all data in Program data, reinstall java.

java.lang.RuntimeException: Exception in Application init method
	at javafx.graphics/com.sun.javafx.application.LauncherImpl.launchApplication1(Unknown Source)
	at javafx.graphics/com.sun.javafx.application.LauncherImpl.lambda$launchApplication$2(Unknown Source)
	at java.base/java.lang.Thr

[2019-05-01 21:30] iamtheeggmansroyal commented on #1178
everytime I try it the nlog_# goes up one

[2019-05-02 09:58] 1-alex98 commented on #1178
Honestly what is the message you get it certainly wont be a file path. I mean I never had an error installing it and so I have no idea what the error says or reads... Please tell me. But I am pretty doubtful it only states a path...

[2019-05-02 10:00] 1-alex98 commented on #1178
Does the `C:\users\iamtheeggman\appData\local\temp\ij4_nlog_12.log` not exist. If it does please upload it here

[2019-05-02 10:02] 1-alex98 commented on #1181
Would you be so kind and upload your client.prefs file here? after you deleted the password hash in it.
![image](https://user-images.githubusercontent.com/19996713/57068456-199a8600-6cd2-11e9-8e57-c061235f35a1.png)
![image](https://user-images.githubusercontent.com/19996713/57068504-31720a00-6cd2-11e9-8fe6-8bb3084fc01d.png)

[2019-05-02 10:03] 1-alex98 commented on #1181
If you delete the file it should work again

[2019-05-02 10:09] sharpsalat commented on #1181
I think i found out the problem, last few days my system disk can be full and therefore prefs file become
![image](https://user-images.githubusercontent.com/15666932/57068719-82532400-6d0d-11e9-9307-4fa2ac1e5c19.png)
When i removed it like u said, it start well without problem.
Should i upload this file?

[2019-05-02 10:39] 1-alex98 commented on #1181
No you don't need to. Well that is pretty strange

[2019-05-02 10:40] 1-alex98 commented on #1181
But yeah if you delete it will solve your problem for the time being

[2019-05-02 10:47] 1-alex98 commented on #1181
Maybe you can send me the log of the client maybe there is a hint why it wrote such bullshit into the client.prefs file

[2019-05-02 11:08] sharpsalat commented on #1181
That is all log (CNTRL+A).

[2019-05-02 13:38] CyrilPaulus commented on #1164
I've checked the code and it seems that the URL to download the replay is not correctly built.
Instead of using the replay Id, the client use the ID of the entry in the leaderboard.
That why there is a file not found exception.

[2019-05-02 16:48] 1-alex98 commented on #1181
What do you mean by that?

[2019-05-02 16:50] 1-alex98 commented on #1164
If you wan to you can fork the project fix the bug and make a PR ;)

[2019-05-02 18:57] #1175 closed, assigned to 1-alex98

[2019-05-02 19:49] #930 closed, assigned to 1-alex98

[2019-05-02 21:03] 1-alex98 opened #1182 "Overwriting old mods does not work correctly"
While overwriting the old data might not be completely overwritten if the new file is shorter... This causes desyncs

[2019-05-03 01:35] iamtheeggmansroyal commented on #1178
the error says error 34. the filepath does not exist on my comp yet

[2019-05-03 01:36] iamtheeggmansroyal commented on #1178
error code 34

[2019-05-03 07:18] CyrilPaulus commented on #1164
I'd like to but I'm unable to correctly setup the project on my computer with Intellij Community.

[2019-05-03 07:55] micheljung commented on #1035
Yes I also think this has been fixed. Please reopen if not.

[2019-05-03 07:55] #1035 closed, assigned to nobody

[2019-05-03 07:56] micheljung commented on #1045
This doesn't seem to happen on every machine. Not yet sure what causes it or how to reproduce :\
The code to stop the animation is in place.

[2019-05-03 07:59] micheljung commented on #453
I'd be okay to display the channel topic when users join

[2019-05-03 09:39] 1-alex98 commented on #1045
Yeah it seems to be some kind of race condition

[2019-05-03 09:40] 1-alex98 commented on #1164
There is a youtube video in the read me

[2019-05-03 09:40] 1-alex98 commented on #1164
Make sure u use oracle jdk 10

[2019-05-03 09:41] 1-alex98 commented on #1164
Also if you give me your email I can invite u to slack

[2019-05-03 09:52] 1-alex98 commented on #1178
Maybe start with installer with debug option as described [here](https://stackoverflow.com/questions/27238616/the-executable-generated-by-install4j-doesnt-start)

So
1. Windows+R
2. Type cmd
3. cd pathToTheInstaller
3. dfc_xxxxx.exe /create-i4j-log

[2019-05-03 09:54] 1-alex98 commented on #1178
It should open a window which tells you where it writes it log to. Please forward that log to me

[2019-05-03 10:28] CyrilPaulus commented on #1164
Yep I saw this video but I guess it's not working because I can't find the oracle jdk 10 anywhere.
Where can I send you my email ? I'd prefer to avoid posting it there.

Edit: Just found the link for the JDK.

[2019-05-03 11:26] CyrilPaulus commented on #1164
Okay so it was easy to fix the bug by using the CoopResult getGame().getId() instead of getId() for binding the replay download button.

But for some reason for coop replays the map field in the json is empty. Thus when it tries to download the map a exception is raised.

Now an easy fix is to edit the method downloadMapIfNecessary to ignore empty map name. But it seems more a hack than a correct

[2019-05-03 16:12] 1-alex98 commented on #1164
write me alexander.von.trostorff@gmail.com

[2019-05-03 16:15] 1-alex98 commented on #1164
I am not into it too much but we can have a look together like e.g. tonight

[2019-05-03 18:20] iamtheeggmansroyal commented on #1178
thanks it was a good idea but for some reason when I look in my downloads folder the download doesn't appear, it just appears in downloads on my internet explorer. so theres no filepath I can find
. I FAIL

[2019-05-03 21:44] 1-alex98 commented on #1178
Well that is a problem you need to solve yourself can not really help you there

[2019-05-03 22:01] #945 closed, assigned to 1-alex98

[2019-05-03 22:01] #353 closed

[2019-05-03 22:05] #1182 closed, assigned to 1-alex98

[2019-05-03 22:11] 1-alex98 commented on #1168
You can do that already or am i mistaking?

[2019-05-03 22:12] 1-alex98 commented on #1143
Please discuss that somewhere like in slack or on the forum if that is actually we want. I think it is not needed at all

[2019-05-03 22:12] #1143 closed, assigned to nobody

[2019-05-03 22:13] #1142 closed, assigned to nobody

[2019-05-03 22:15] #1050 closed, assigned to nobody

[2019-05-03 22:23] 1-alex98 commented on #1181
Well we had this issue before I still got no idea how this client.prefs file got in this state but as we have tons of such issues i suspect i will close this one.

[2019-05-03 22:23] #1181 closed, assigned to nobody

[2019-05-03 22:27] #1171 closed, assigned to 1-alex98

[2019-05-04 03:18] iamtheeggmansroyal commented on #1178
hmmm I finally just reinstalled the .3 client and downloaded the patch through the client again and it worked for some reason. must have been an issue with ie and chrome or an ai just messing with me. thanks for trying to help me.

[2019-05-04 13:54] robbotik opened #1186 "Increase lobby connection wait time before proxy is engaged."
It seems the proxy between players is engaged too quickly in game lobbies. People who would otherwise be able to connect normally end up routed through the proxy instead. In this case, it's possible to avoid the proxy by having people join in different orders. It's assumed this is due to an individuals hardware or network location able to accept connections slightly quicker than it's able to insti

[2019-05-04 15:29] dev-nulled opened #1187 "Lobby is interpreting CPU restrictions as 'ranking' restrictions"
Looks like a new tweak was put in.  A title in the lobby saying 'CPU < 250' pops a warning that people are over a rating of 250 should not join... You can continue to join despite the warning.

[2019-05-04 15:55] 1-alex98 commented on #1187
There is no cpu rating in the client and it might have different outcome then the one in the game

[2019-05-04 15:55] #1187 closed, assigned to nobody

[2019-05-04 16:06] 1-alex98 opened #1188 "Bugsplatt.dll access denied"
Bugsplatt.dll Error avoiding or better error message

[2019-05-04 16:07] 1-alex98 opened #1189 "Downloading maps /mods fails"
More and more ppl having problems with randsomeware protection. Give the user a hint that he might need to turn off randsomeware protection or make an Exception

[2019-05-04 16:12] dev-nulled commented on #1187
Right - the message in the title is custom - saying if you have a CPU rating over 250, don't join.  The UI is looking at that message and saying - you mean the 'user rating' needs to be between 0-250.

[2019-05-04 17:15] #1178 closed, assigned to nobody

[2019-05-04 17:17] 1-alex98 commented on #1186
This is an issue for faf ice adapter

[2019-05-04 17:17] #1186 closed, assigned to nobody

[2019-05-04 17:18] 1-alex98 commented on #1187
ah ok yeah we already got that issue somewhere and also we wanna add server support for rating boundaries

[2019-05-04 23:16] tatsujb opened #1191 "[ Linux ] is linux tarball name going to change again?"
for my script I had to make this rather silly commit : https://github.com/tatsujb/installFAFscript/commit/f23bdbaf91c2ee5e9f041365f632283a90da4d03

what's going on?

I didn't really see the point of an extra underscore before the name of the archive but I was like "heck it, so long as it doesn't change"

and it did inexplicably : this was not part of the release notes : https://github.com/FAForeve

[2019-05-04 23:22] 1-alex98 commented on #1191
We did not really change anything there. No idea how the undescore got there... Maybe it would be best for you to read out the name in your script that should be pretty easy

[2019-05-04 23:24] 1-alex98 commented on #1191
The next one is gonna be without underscore dfc_unix_0_10_5-beta.tar.gz

[2019-05-04 23:24] tatsujb commented on #1191
I'd like some pointers on this because the current setup I have which figures out how to calculate the syntax for three different syntaxes for the same version number and for said version number took me awhile to figure out.

[2019-05-04 23:39] 1-alex98 commented on #1191
https://api.github.com/repos/FAForever/downlords-faf-client/releases
With one or two greps you should quickly find the install files naem

[2019-05-04 23:47] 1-alex98 commented on #1191
See what i wrote on slack

[2019-05-04 23:47] #1191 closed, assigned to nobody

[2019-05-04 23:47] tatsujb commented on #1191
that's exactly what's in my code already :

[code]
take a good hard look. there is no pattern that can make us get it entirely.

right now I can just grab the version number.

[2019-05-04 23:48] 1-alex98 commented on #1191
Was just an idea

[2019-05-05 00:09] 1-alex98 commented on #1169
@PhilipJFryFAF make me a list in which order you would like to have them (maps,mod,replay search term)

[2019-05-05 04:33] PhilipJFryFAF commented on #1169
my arbitrary list:
[code]

[2019-05-05 10:45] CyrilPaulus opened #1194 "Vault replay search criteria not working"
The search criteria are not working for the online replay section of the Vault.

There is a least two problems

* Search button doesn't work, nothing happens when we click on it.
* Sort by doesn't work, it doesn't expand when we click on it.

Edit:
It seems to happen because somehow the value I had stored in my configuration for the sort field isn't present anymore in the sort choices. I don't kno

[2019-05-05 11:03] #1167 closed, assigned to nobody

[2019-05-05 14:12] 1-alex98 commented on #1180
Maybe we just encrypt it with idk his cpu name, something that stays the same on his system. I mean ppl should still not give out that info but if they so it is not completely exposed

[2019-05-05 14:46] 1-alex98 opened #1196 "Setting show games with mods does not work in tiles"

[2019-05-05 14:50] 1-alex98 commented on #1194
Oh it is because we deleted some i think

[2019-05-05 14:52] 1-alex98 commented on #1138
Please always make one issue per issue. These are all seperate issues but as soon as i fix one i close the ticket and all the others are lost!!!!

[2019-05-05 14:58] CyrilPaulus commented on #1194
Okay then my commit should also fix it if the list is changed again in the future.

[2019-05-05 20:28] 1-alex98 opened #1198 "Sometimes clicking "show moded games" has no effect"

[2019-05-05 20:32] Gandalf2k15 commented on #1168
nope there is no option to sort it by time started

[2019-05-05 20:39] 1-alex98 opened #1200 "Add start time for live replays"

[2019-05-05 20:39] #1200 closed, assigned to Wesmania

[2019-05-05 20:43] #1194 closed, assigned to nobody

[2019-05-05 21:19] 1-alex98 commented on #1168
Thats what i just merged by @Wesmania XD

[2019-05-05 21:19] #1168 closed, assigned to nobody

[2019-05-05 21:37] Brutus5000 commented on #1191
The underscore is used so the .exe is on top of the github releases list, otherwise it does not get fetched by the website.

[2019-05-05 21:41] tatsujb commented on #1191
so right now it's not getting fetched? btw browsers can tell what OS you're on that's how steam and plenty of other websites (chrome download) have a download button that takes you to the right kind of file automagically. could we do that for FAF's website? I know how to do it in JS

[2019-05-05 22:06] 1-alex98 commented on #1191
Build it. Normally nobody is willing to touch website

[2019-05-05 22:09] #1196 closed, assigned to nobody

[2019-05-05 22:12] 1-alex98 commented on #1188
@micheljung once said when I suggested to not copy bugsplatt.dll on every game launch but only if it was not copied yet. I do know suggest to still copy them every time but still launch game and proceed if we are unable to copy those files. Because tons of users need to restart the game every like 3rd time they play because of the game not closing correctly (including me) .

[2019-05-05 22:33] #1188 closed, assigned to nobody

[2019-05-06 05:36] micheljung commented on #1188
How about we find out why the came doesn't close properly (doesn't it, really? But why can we start it "again" then, when only a single instance is allowed?). Or rather; why the file is locked.

Then we fix that properly rather than displaying some long message the user doesn't really know what to do about it.

[2019-05-06 08:27] EmielWitteman commented on #1072
the downlords ice release client v10.0.4-beta crashed twice on me again, the ice adapter stayed online though and the game can be finished (unlike the post #1080 from tomaskir), I restarted the lobby while in game and both games got reported to the server. I did not use a special script to start the client. I did also have a crash with the older client and the special start script(after 19 feb). A

[2019-05-06 13:16] 1-alex98 commented on #1188
We can not do much about it if you don't want to dig into assembly code if you wanna rule out the core cause of it. I would assume. Anyway for me there are tons of other stuff I would rather dig into because this is an issue which is annoying but with the above or a silent version of it everything works as expected.

[2019-05-06 13:26] 1-alex98 commented on #1188
@micheljung The game's process does not terminate but sets its self to halt in some way which makes it a zombie  process. We could probably kill it as it is our child or reverse engeneer, but this needs hours and hours of work (probably) and maybe in the end we will not be able to do anything against it... The py client had some similar implementation of what I implemented but silently. Now that p

[2019-05-06 13:32] #1198 closed, assigned to 1-alex98

[2019-05-06 13:33] #1169 closed, assigned to nobody

[2019-05-06 15:24] PhilipJFryFAF opened #1201 "user folder/encoding issue"
The game Supreme Commander - Forged Alliance looks up this directory to find maps/mods (outside of the ones in the game install directory):
`C:\Users\%username%\Documents\My Games\Gas Powered Games\Supreme Commander Forged Alliance\mods`
`C:\Users\%username%\Documents\My Games\Gas Powered Games\Supreme Commander Forged Alliance\maps`
The Client stores mods/maps from the vault in those 2 directorie

[2019-05-06 15:56] 1-alex98 commented on #1201
What about a setting with

- user specific maps/mods location
- faf specific maps/mods location

and the user can toggle between the two. and we make the programdata one the default so nobody has any issues

[2019-05-06 15:59] 1-alex98 commented on #1072
@EmielWitteman I think your client runs out of RAM or memory

[2019-05-06 16:00] 1-alex98 commented on #1072
Please have a look at the install directory of the client and look if you can find a file called  java_pid<something>.hprof

[2019-05-06 16:02] 1-alex98 commented on #1072
To quickly fix this issue you can edit the downlords-faf-client.vmoptions to use more memory/RAM by editing the number Xmx512m to Xmx812m for example
Tho this will only delay the crash in most cases

[2019-05-06 16:03] 1-alex98 commented on #1072
Forwarding the mentioned file will enable us to see what uses all the memory on your machine

[2019-05-06 16:32] #1081 closed, assigned to nobody

[2019-05-06 17:17] #877 closed, assigned to Geosearchef

[2019-05-06 17:23] PhilipJFryFAF commented on #1201
i forgot to add one more drawback to the freely selected folder:
since you have to tell the game via the init file where to look for mods/maps the user specific folder would not be recognized by the non-faf patched game (same as the programdata fallback) and if someone wipes their client prefs (cause of whatever issue they have with their client settings) then the user will have to set that path a

[2019-05-06 17:26] 1-alex98 commented on #1201
Well but the toggle option seems good like that nothing can go wrong. Both dirs are ok

[2019-05-06 17:56] mantis opened #1204 "Avast IDP.Generic false positive on client"
hi Guys,

Just as FYI - have reported to Avast that Avast is picking up that faf client application as IDP.Generic today as a possible false positive.

Thanks

[2019-05-06 18:22] EmielWitteman commented on #1072
Thanks for the feedback. I just installed v.010.5-beta, don't see any file named java_pid.hprof, did change the downlords-faf-client.vmoptions file to Xmx4096m. I have 32Gb physical memory, so no worries there. Let's see if this will prevent crashes

[2019-05-06 19:41] #1179 closed, assigned to nobody

[2019-05-06 19:44] #887 closed, assigned to 1-alex98

[2019-05-06 19:45] 1-alex98 commented on #1072
Ehm yes if you reinstall the files are delted

[2019-05-06 19:45] 1-alex98 commented on #1072
I mean update==reinstall

[2019-05-06 19:46] 1-alex98 commented on #1204
Do you have an option in your avast to tell it you trust it :D Some anti-viruses have that option and if enough ppl do so they will reconsider

[2019-05-06 19:48] mantis commented on #1204
I submitted it for review through their UI + added an exception for the FAF install path - it was for a friend. Thought i'd mentioned it here  in case it helps others.

[2019-05-06 19:53] 1-alex98 commented on #1204
We still ship, but don't use it atm, because it is not needed since we enforce steam link, the uid.exe. It is an closed source executable that reads out tings like cpu name, os version, wifi- card mac address to determine a unique id. So that it got hard to have multiple accounts and smurf. As we know have steam linking the check is actually deactivated, but anti-viruses sometimes trigger on it. P

[2019-05-06 19:54] 1-alex98 commented on #1204
I also made a report to avast that points to this very GitHub issue.

[2019-05-06 19:55] 1-alex98 commented on #1204
Did it say which file in particular it complains about?

[2019-05-06 19:59] mantis commented on #1204
it was complaining about the downlords-faf-client.exe itself, and the installer

[2019-05-06 20:24] 1-alex98 commented on #1204
hmm ok strange, well the uid.exe is incorporated in it somehow, but yeah it is probably also compressed so yeah strange.

[2019-05-06 21:18] 1-alex98 commented on #1201
https://forums.faforever.com/viewtopic.php?f=2&t=4507&p=172915&hilit=symlink+linux#

[2019-05-06 21:47] 1-alex98 opened #1205 "Admin check has false positives"

[2019-05-06 21:50] Nojoke185 commented on #1205
loading 10.6 RC1 and getting warning that it is running as admin
As far as i can tell i have never set this to run as admin

running from : C:\Program Files\Downlord's FAF Client\downlords-faf-client.exe
log below

[downlords-faf-client.log](https://github.com/FAForever/downlords-faf-client/files/3149959/downlords-faf-client.log)

[2019-05-06 22:13] Franck83 commented on #1189
Is this that causes these frequent desync issues on new mod versions ?

[2019-05-06 23:14] RoraRaven opened #1206 "1v1 Ranked Match - FA client gets stuck on "Setting up automatch" indefinitely."
When a match is found, the FA client starts up, then goes to the "Setting up automatch" screen, and stays there, forever.

No issues with custom games. Ports are open in the firewall.

Logs attached.
[downlords-faf-client.log.2019-05-06.0.gz](https://github.com/FAForever/downlords-faf-client/files/3150128/downlords-faf-client.log.2019-05-06.0.gz)
[forever.log](https://github.com/FAForever/downlord

[2019-05-06 23:43] douglasg14b opened #1207 "Waffle is closing on the 16th of this month."
Noticed you guys use Waffle for a Kanban board since you have it tagged on the readme. They are shutting down on 5/16/2019, and recommend migrating your waffle projects to github.

https://waffle.io/closing-its-doors

[2019-05-06 23:52] douglasg14b opened #1208 "[ Linux ] Mods installed from vault create a secondary flattened directory structure"
When a mod is installed from the vault, that mod is put int the Mods directory as you would expect, but the entire directory structure of that mod will also be flattened into the Mods folder with the full path of the structure being the name of the folder. Creating a huge mess of empty folders.

This also causes the client to show that mods are corrupt for every one of these folders in the notific

[2019-05-07 08:50] Geosearchef opened #1209 "Support small window size"
Using a small window size makes the client look horrible and hides navigation items.

http://forums.faforever.com/viewtopic.php?f=2&t=17068#p170815

[2019-05-07 08:52] Geosearchef opened #1210 "Allow window to be grabbed"
Client window can only be grabbed on the right of the navigation items, this is difficult on small monitors.

http://forums.faforever.com/viewtopic.php?f=2&t=17068#p170815

[2019-05-07 08:53] Geosearchef opened #1211 "Allow hiding chat user list"
On small clients, the user list takes up a lot of space, ads an option to hide it.

http://forums.faforever.com/viewtopic.php?f=2&t=17068#p170815

[2019-05-07 09:22] Geosearchef opened #1212 "Chat layout rework"
- [ ] Align chat usernames to the right of the column in compact mode.
- [ ] It was also suggested to align the messages itself to one column (right of the aligned username column) so that the chat doesn't go nuts when the client is small.
- [x] If a username is too long, it should be replaced by ... .
- [x] There should be some padding on the left of the write message box
- [x] More clearly disti

[2019-05-07 09:24] Geosearchef opened #1213 "Allow assigning colors to usergroups"
Allow assigning colors to entire usergroups instead of just single users. e.g. friends, moderators, ....

http://forums.faforever.com/viewtopic.php?f=2&t=17068#p170815

[2019-05-07 09:25] Geosearchef opened #1214 "View chat users only once"
currently users are listed multiple times in the categories in the chat, only display them once in the highest category.

http://forums.faforever.com/viewtopic.php?f=2&t=17068#p170815

[2019-05-07 09:27] Geosearchef opened #1215 "Save filtering/search options/parameters"
It would be best to sort vault options by most used or to store the previous vault query for the next time.

[2019-05-07 09:39] Geosearchef opened #1216 "Change notification sound"
A lot of people seem to hate the notification sound?
Maybe "steal" the one from the python client?

[2019-05-07 14:42] Geosearchef opened #1217 "Player rating graph - show rating on mouse over"
In the player statistics window a rating graph is shown. Display the rating the user is currently hovering over as a number.

http://forums.faforever.com/viewtopic.php?f=2&t=17068&start=10#p170823

[2019-05-07 14:47] Geosearchef opened #1218 "User context menu opens multiple times"
Right clicking a user multiple times opens multiple context menus.

![](https://pp.userapi.com/c850436/v850436620/7ea2a/Zd6X2ZkGYm8.jpg)

[2019-05-07 14:53] Geosearchef opened #1219 "Show all used mods"
If there are too many mods, the client doesn't show all of them and just shows e.g. "2 more". Would be nice if there were a way to display all of them, e.g. as a tooltip when hovering.

[2019-05-07 14:55] Geosearchef opened #1220 "Show years in player rating history"
The player rating history shows dates below the graph which can get pretty useless if the history spans multiple years.

![](http://forums.faforever.com/download/file.php?id=16509)

[2019-05-07 15:02] Geosearchef opened #1221 "Rework chat player list"
Most users want a more compact, faster/more useable user list. Swap the Playing/waiting text with a sword icon like in the old client on the right (preserves space, easier to spot than reading text).

The player list displays the currently joined/hosted/playing game.
The old client displayed a map preview there aswell.

- [ ] compact (remove second line)
- [ ] add playing/waiting (sword) status sy

[2019-05-07 15:09] Geosearchef opened #1222 "Sort lobbies by friends to the top"
There should be a present option / by default the game hosted by friends should be sorted to the top of the game list, indicating that it's hosted by a friend.

[2019-05-07 15:12] Geosearchef opened #1223 "Redesign Client UI"
Use feedback from:
http://forums.faforever.com/viewtopic.php?t=17068

[2019-05-07 15:12] Geosearchef opened #1224 "Make chat user groups hideable"
allow users to hide sections of the chat user list, e.g. moderators, friends, everybody else, irc, ...

[2019-05-07 15:14] Geosearchef opened #1225 "More "Reveal [folder]" options, especially replays"
Add an option to reveal the replay folder.
Consider an option for the game preferences file.

[2019-05-07 15:17] Geosearchef opened #1226 "Add compact format for maps/mods vault"
Map and mod vault results are really big compared to e.g. the live replays. Add a compact mode/setting for them.

[2019-05-07 15:21] Geosearchef opened #1227 "Allow deleting local replays"
http://forums.faforever.com/viewtopic.php?f=2&t=17068&start=60#p173729

[2019-05-07 15:23] Geosearchef opened #1228 "Allow resizing/multiple sizes of game tiles"
In the play tab, give the user the option to change the appearance of game tiles.
Maybe also rework the design to make them clearer, easier to read.

http://forums.faforever.com/viewtopic.php?f=2&t=17068&start=60#p173734
http://forums.faforever.com/viewtopic.php?f=2&t=17068&start=60#p173744

[2019-05-07 15:29] Geosearchef opened #1229 "Implement show replays button in user context menu"

[2019-05-07 15:31] Geosearchef opened #1230 "Remember used mods / add select previous mods button"

[2019-05-07 15:32] Geosearchef opened #1231 "Rework vault, user friendlyness"

[2019-05-07 15:33] Geosearchef opened #1232 "Consider switching/disabling background image by default"
The background image is the opposite of good and clear UI design and annoys a lot of people.
Maybe we should disable it by default or replace it with some more generic that makes the background a bit more interesting than just one color.

[2019-05-07 15:38] Geosearchef opened #1233 "Debrand the client"
This client is now the official faf client. There's no reason anymore like there was in the first place to integrate a player's username into the client name. Technically that will probably stay, but a lot of users are confused by the client's name.

[2019-05-07 16:50] shalkya commented on #1225
in the local replay tab, allow user to reach the replay file by right-clicking on the replay.

[2019-05-07 17:02] shalkya commented on #1222
Also give more option for lobbies sorting. We lack the ability to sort them by average rating. (also if you refaf, it should remember that you want to sort out by rating)

[2019-05-07 17:10] shalkya opened #1234 "add back the channel topic"
so TD can actually ping stuff in the channel (eg : challonge link, streams etc)

[2019-05-07 19:19] EmielWitteman commented on #1072
even with Xmx4096m still a crash

[2019-05-07 19:39] Geosearchef commented on #1234
issue 1234, wow

Probably not gonna happen, there was a lot of debate about this (don't remember where, may have been slack) and the common opinion was that the channel topic never was the solution needed. It was removed from the java client on purpose.

[2019-05-07 20:56] 1-alex98 commented on #1189
no. you need to look for closed issues, just see the changelog in version 10.5

[2019-05-07 23:14] JaggedAppliance opened #1237 "Friendslist is inaccurate"
Only 4 friends are shown as online, there's many many players missing from that list.
[downlords-faf-client.log.2019-05-07.0.gz](https://github.com/FAForever/downlords-faf-client/files/3154832/downlords-faf-client.log.2019-05-07.0.gz)

[2019-05-08 01:56] 1-alex98 commented on #1237
Also i found not all players are shown on ne that are

[2019-05-08 01:57] 1-alex98 commented on #1237
i was missing one player and when i rejoined aeolus he reappeared

[2019-05-08 02:26] RoraRaven opened #1238 ""The requested operation requires elevation" - Fixed by running as admin - Warning on launch."
When the FAF client is run without administrator privileges, this error is presented when you try to enter a game.

    java.util.concurrent.CompletionException: java.io.IOException: Cannot run program "i:\program
    files\downlord's faf client\jre\bin\java.exe" (in directory "I:\Program Files\Downlord's FAF
    Client\natives"): CreateProcess error=740, The requested operation requires elevation

[2019-05-08 09:58] Brutus5000 commented on #1234
The latest info from Slack was Downlord would be okay with it if we add it as sort-of-message on opening the channel. So it's not supposed to stay non-stop visible, but only if a channel is opened or the topic is changed.

[2019-05-08 09:59] Brutus5000 commented on #1231
Related work has started:
https://github.com/FAForever/faf-java-commons/tree/feature/elide-filter-generation

[2019-05-08 10:13] Brutus5000 commented on #1219
I would suggest adding it to the game_details.fxml (that is the detail view on the right side if you click on a game)

[2019-05-09 13:42] Androish commented on #1220
I would like to add that right now X is not a function of time, but a function of number of games. This is partly why it looks this strange.

While that is ok I guess, I would much rather prefer it being a function of time, or atleast have the option of doing it that way.

I want to see my rating being a straight line if I am not playing any games :D

[2019-05-09 20:02] Rackover opened #1242 "ProgramData files (faforever patch) not downloaded upon ladder game start"
only custom game creates the files in programdata, ladder search does not.
That means installing the client on a clean maching and starting with a ladder match actually creates a crash, since init.lua and other files are missing.

[2019-05-11 09:35] #1218 closed, assigned to nobody

[2019-05-11 09:36] #1229 closed, assigned to nobody

[2019-05-11 09:47] 1-alex98 commented on #1242
Did you test that that it actually does?

[2019-05-11 09:49] Rackover commented on #1242
This happened two times on two different PCs
The first time, there was no prior installation of the client nor of the game, so programdata files just weren't there. It crashed at launch because of init.lua missing, etc, and I had to host a custom game so that it would download required files.
The second time, there was an outdated FAF patch version since I hadn't played in a long time. Updated the

[2019-05-11 09:50] 1-alex98 commented on #1238
No I dont want to. You should not run as admin and if you do you will be reminded on every startup

[2019-05-11 09:50] #1238 closed, assigned to nobody

[2019-05-11 09:51] 1-alex98 commented on #1238
There is something wrong with the permission needed  for those files i:\program files\downlord's faf
client\jre\bin\java.exe

[2019-05-11 09:52] RoraRaven commented on #1238
The thing is, it only works on admin, otherwise I get the "requires elevation" notification.

I've purged the ProgramData and Program Files folders. Totally fresh install, still wouldn't launch without running as admin.

[2019-05-11 11:32] 1-alex98 commented on #1206
forever.log is the py client log

[2019-05-11 11:36] tatsujb commented on #1208
this is if maps and mods sim-linking isn't in effect :

[code]

[2019-05-11 11:39] tatsujb commented on #1026
![Screenshot from 2019-05-11 13-38-44](https://user-images.githubusercontent.com/5132359/57569225-20bc4500-73f2-11e9-9b64-7ead3bd5e865.png)
dunno why this is closed.

the only thing that changed is the download location. still does not extract.

after closing and reopening FAF it is still version 10.4

[2019-05-11 11:42] 1-alex98 commented on #1242
Tried on production client downloads .nx2 files and faforever.faf and starts game normally

[2019-05-11 11:44] tatsujb commented on #1073
@axel1200  downloading maps works fine on linux if you simlink maps (and mods) folders.

what is an issue though is this :
![Screenshot from 2019-05-11 13-43-56](https://user-images.githubusercontent.com/5132359/57569279-dd160b00-73f2-11e9-86c7-f3842da618e3.png)
after clicking ok the game starts up as if started from steam. (intro video and ends up at main menu)

[2019-05-11 11:45] #1127 closed, assigned to nobody

[2019-05-11 12:33] 1-alex98 commented on #1242
Can not reproduce this

[2019-05-11 12:34] 1-alex98 commented on #1242
Did you do this on the test server?
Because might be something there is configured wrongly...

[2019-05-11 12:55] 1-alex98 commented on #1073
I was told that happens if 5 min did not yet pass

[2019-05-11 12:55] 1-alex98 commented on #1073
try again 1 min later

[2019-05-11 12:56] 1-alex98 commented on #1026
Probably confused issue numbers here

[2019-05-11 12:58] 1-alex98 commented on #1072
Did it use 4gb ram or not
?

[2019-05-11 12:58] 1-alex98 commented on #1072
Log again please then

[2019-05-11 13:00] 1-alex98 commented on #1072
Please have a look again at the install directory of the client and look if you can find a file called java_(....).hprof

[2019-05-11 13:01] 1-alex98 commented on #1072
What is your OS?

[2019-05-11 13:02] 1-alex98 commented on #1222
Maybe rather mark them in some way

[2019-05-11 13:03] 1-alex98 commented on #1232
i like it

[2019-05-11 13:03] 1-alex98 commented on #1230
That should be done already

[2019-05-11 13:05] 1-alex98 commented on #1230
This bug happens when the mods are installed in the ProgrammData directory for mods, which was used by the py cleint. The mods can not be found in the client so the client deactivates them every time a player plays a game. When setting them to activated in the game the change is later overwritten by the client...

[2019-05-11 13:10] 1-alex98 commented on #1207
Well we dont use it anyway

[2019-05-11 19:21] Katharsas opened #1245 "Parsing rating from title is not a good idea"
I just tried to host a coop game with title "all welcome 3-4 players " and on second try "3-4 players all welcome ". It seems like the client tries to parse the title and misinterprets the "3-4 players" as rating range, and subsequently sets the rating range to "3-4". If the parsing of desired rating from title is basically `[0-9]*-[0-9]*`, it should be removed. This way of parsing rating from tit

[2019-05-11 19:25] Katharsas commented on #1245
Oh, btw. the games title was "all welcome 3-4 players " and on second try "3-4 players all welcome ". Damn, looks like the client trys to parse the rating range from the title and fails miserably. If the parsing of desired rating from title is basically [0-9]*-[0-9]*, it should be removed. This way of parsing rating from title is WAY to pimitive.

[2019-05-11 19:43] douglasg14b commented on #1207
I was mentioning it since you have issue tracking links to it in your readme...

[2019-05-11 22:07] Katharsas commented on #1245
I just looked at the regex parsing in game.java and i think the best course of action would be to remove it. Since this client is now the official one, most people will be able to use the explicit rating boundary input fields when creating a custom game anyway. This is imo the proper way to set rating bounds.

(Btw: In the Tiles view, the rating bounds are not visible. And rating bounds that are p

[2019-05-12 12:18] Brutus5000 commented on #1245
It's not a client issue, it's a lack of server support to create a game with a dedicated rating range.
While you can set it in the create game form, right now it has no effect on the server.

[2019-05-12 16:50] Katharsas commented on #1245
Ok so what you mean is that the rating range feature was built with server support in mind? Ok, but i don't want to remove the feature, i want to remove the automated parsing (title -> form).

Rating range not working in the server is an orthogonal problem for this. Ideally i guess the rating range input fields should be removed/hidden (as well as the column displaying the ranges in the game table

[2019-05-12 17:46] dev-nulled commented on #1245
I get the rating feature desires (I'd like the same) - but parsing the game title should not be it (or it should be very specific pattern).  We've had issues where we were saying CPU scores should be under a certain range, and the client would interpret that as a desire to restrict by rank.

[2019-05-12 17:48] Katharsas commented on #1245
Especially since the client tells people that want to join a game that their rating is too high or too low (even if they can join anyway) based on this inaccurate title parsing.

[2019-05-12 18:43] EmielWitteman commented on #1072
can't find java_pid.hprof, win 10 pro x64 1803, i'll try to monitor the mem usage

[2019-05-12 18:59] jonathanhillwebsite commented on #1072
I've also had the same issue, maybe 3 times now, with the new client. Twice today.

Happened literally just now for the second time today. The client just closes by itself with the game still running. No message to say it crashed, it just disappears. So it disconnects from the server and looks like I've dc'd. Tried logging back in but that doesn't help.

Earlier it crashed when I hosted a game, ~3

[2019-05-12 19:22] 1-alex98 commented on #1073
![image](https://user-images.githubusercontent.com/19996713/57586834-f5be1800-74fb-11e9-9716-64c76a1538be.png)
There it return null, we should rather make a proper error message there

[2019-05-12 19:24] 1-alex98 commented on #1073
It is because linux is case sensitive

[2019-05-12 19:35] 1-alex98 commented on #1207
Maybe we should just remove that

[2019-05-12 19:58] speed2CZ opened #1246 "Dont try download the map if player already has it"
So I was doing some online testing of my coop missions. Let's forgtet for a bit about the other issue with coop replays.

But then when I have a local copy of my coop replay, which has all the information needed. Example:
[code]
the client can't actually play it
[code]

It complains that the map isn't in the vault, correct?
Well its not there (since its my testing version), but the map is in my fo

[2019-05-12 21:04] Askaholic commented on #1242
I believe this happened when we were testing on the test server, yes.

[2019-05-13 06:25] tatsujb commented on #1073
linux is indeed case sensitive.

[2019-05-13 16:53] Wesmania commented on #1073
IIRC many maps freely mix case between zips, directory names and filenames. Copious use of lowercasing should fix this.

[2019-05-13 18:28] sshlio opened #1247 "Call webhook on server full"
I would like to set a simple http POST on server full notfifcation so i can push it to my iPhone with IFTTT. I can issue an PR but i need some tips where to start and which files to modify.

[2019-05-15 09:55] Brutus5000 commented on #1247
The GameFullEvent is posted to the EventBus.
You can subscribe to this event either in the existing method or into a new @Component class with a new @Subscribed method.
See here for the current implementation:
https://github.com/FAForever/downlords-faf-client/blob/develop/src/main/java/com/faforever/client/fa/OnGameFullNotifier.java

[2019-05-16 21:47] 1-alex98 commented on #1247
push ppl at faf to seploy java-server. This is not something that should be built into client

[2019-05-16 21:47] #1247 closed, assigned to nobody

[2019-05-16 21:49] 1-alex98 commented on #1242
Tell me if you find this happening on prod...

[2019-05-16 21:49] #1242 closed, assigned to nobody

[2019-05-17 18:46] johnhce commented on #1246
Your replay file has an entry for "map_file_path" which I can't find in the code anywhere.  Is your file located in .faforever/Maps/scca_coop_a06 or .faforever/Maps/maps/scca_coop_a06 ?  Is it a directory or is it a zip file?

[2019-05-17 23:21] trnapster opened #1249 "Crash on start"
After installing the Client crashes instantly after I start it. I'm seeing the Splash Screen for a few seconds after which Windows tells me that "downlord-faf-client.exe stopped working". It appears that it creates an invisible, unresponsive window called "FA Forever Login".

I have pretty much cleaned all previously existing files including client.prefs and the Folder in ProgramData.

I was asked

[2019-05-18 05:34] speed2CZ commented on #1246
map folder name is scca_coop_a06
its placed in the maps folder C:\Users\%USERNAME%\Documents\My Games\Gas Powered Games\Supreme Commander Forged Alliance\Maps
as another 800 maps and missions, not zipped
https://puu.sh/DtQNt/2c210acbc9.png

[2019-05-18 09:01] 1-alex98 commented on #1249
yeah probably not useful ;)

[2019-05-18 09:05] 1-alex98 commented on #1249
It depends on how much effort you want to put into it I can try to profile it via teamviewer on your machine. Not even sure if that would give us the answer to why this happens?

[2019-05-18 14:46] johnhce commented on #1246
Are you running on Linux or Windows?  Linux file names are case sensitive so "SCCA_Coop_A06" won't match "scca_coop_a06".

[2019-05-18 15:41] micheljung opened #1250 "Clean up replay sorting"
This passes a `SortedList` as an `ObservableList` which is then wrapped into a `SortedList`. I doubt that this is the way to go, and IntellIJ even warns you about it :(
There's already `liveReplayControllerRoot.comparatorProperty()`.

Not sure what's the side effect is but this needs to be cleaned up.

_Originally posted by @micheljung in https://github.com/FAForever/downlords-faf-client/pull/1184

[2019-05-18 16:05] micheljung opened #1251 "Properly handle errors when game binary update failed"
See comments at https://github.com/FAForever/downlords-faf-client/commit/6bfdaa63e4860dc6f6e64729643026f1c428cef1

We really need to understand why this happens, and it does happen because the game process is still running, we should probably offer the user to kill it or abort, rather than just continuing.

[2019-05-18 17:25] 1-alex98 commented on #1251
Well or we check if they actually need to be copied ;) Would also solve this I think

[2019-05-18 17:26] 1-alex98 commented on #1251
Would that also be an option?

[2019-05-18 19:56] speed2CZ commented on #1246
windows

[2019-05-19 08:38] micheljung opened #1253 "Move generatedMapIcon.png to theme directory"
https://github.com/FAForever/downlords-faf-client/commit/28299f4b012854bed8e36edeb2811ca18937197f?short_path=de8c941#commitcomment-33591578

[2019-05-20 14:35] tatsujb commented on #1245
removing the parsing could be done but then rating would be handled by java FAF client allone and adding the rating handling would be another uphill climb added to the python client.

[2019-05-20 14:50] Katharsas commented on #1245
What do you mean. Solving this issue by removing title parsing should not have any effect whatsoever on the python client because this changes nothing at all about the server.

[2019-05-20 15:06] tatsujb commented on #1245
well, we could implement this the clean way and have rating range as one of the attributes of the hosted game, that's what I'm saying. So, server-side change aswell.

[2019-05-20 15:08] Katharsas commented on #1245
Oh yeah sure. Would put that in a different issue though since it probably affects quite a few things (and i can easily implement this removal here, i cannot implement a server change currently).

[2019-05-20 18:47] Wesmania opened #1255 "isAdmin() causing client to crash at startup for Windows with broken cmd.exe"
I have a case of a forum user that has a stack trace like this:

[code]

The forum thread is here: http://forums.faforever.com/viewtopic.php?f=3&t=17576
After some brief discussion it seems user's cmd.exe is borked - it opens, then closes for a split second. I assume that also causes the client to fail to run the few script lines that the client needs. We need to catch this at least.

Do we want t

[2019-05-20 18:57] johnhce opened #1256 "On nix systems, maps will not be found if filename case does not match"
On linux/unix systems, file name case is significant.  Map file names with mixed case letters might not be found if the map entry in the replay does not match the file on disk.

[2019-05-20 19:09] 1-alex98 commented on #1255
I thought i would have catched it

[2019-05-20 19:10] 1-alex98 commented on #1255
Ok only IOEXception https://github.com/FAForever/downlords-faf-client/blob/937df5f5e64c8b37af89db8399243bc6f8adba19/src/main/java/com/faforever/client/util/WindowsUtil.java#L32

[2019-05-20 19:13] #1228 closed, assigned to nobody

[2019-05-20 19:32] micheljung commented on #1072
@axel1200 what indicates that he ran out of memory? The client doesn't just disappear when it runs out of memory, it freezes as the GC consumes all CPU.

I highly recommend understanding the symptoms better before suggesting things like increasing memory.

[2019-05-20 20:46] 1-alex98 commented on #1072
Well it does freeze and then dissapear if he is in game the client can freeze and then disappear however when in game it might be that the user did not notice the freeze...

[2019-05-20 20:47] 1-alex98 commented on #1072
To be honest I also experienced this issue right at the start once, nothing that hints at the crash anywhere

[2019-05-20 20:49] 1-alex98 commented on #1072
Form what it is written into the client logs it looked like I had normally clicked the x button. Executor service was shutdown etc. From what it looks like it was like a normal shutdown when clicking x. Maybe it is a ui glitch and you can click the x button through the game which is above it ....

[2019-05-20 20:50] 1-alex98 commented on #1072
Or a different programm.

[2019-05-20 20:50] 1-alex98 commented on #1072
Maybe we can add a log statements at this point

[2019-05-20 20:55] #786 closed, assigned to Geosearchef

[2019-05-20 21:32] 1-alex98 opened #1259 "Discord Integration has some bugs"
When a game starts it still says "wating" and joining doe not work properly sating "wrong password".

[2019-05-20 21:55] 1-alex98 opened #1260 "Ask player to review game still does not work 100%"

[2019-05-20 23:47] johnhce commented on #1246
Here's what I think is going on: ReplayService calls GameService which asks MapService for a list of installed maps.  MapService only returns maps with a type of 'skirmish'.  So when you run a coop or any other mod type, the client won't see locally stored maps since they're not 'skirmish' type.  To modify this, MapService needs to return maps that correspond to the type of game you're playing.  B

[2019-05-21 11:51] 1-alex98 opened #1263 "Not all search options are ok for sorting"
There are some options like "player name" that can not be sorted by remove those from the dialog

[2019-05-21 11:52] 1-alex98 commented on #1263
https://cdn.discordapp.com/attachments/202928463076786176/580359542156820481/unknown.png

[2019-05-21 11:53] 1-alex98 commented on #1263
It is because a game as multiple players and api does not know how to make an order out of this

[2019-05-21 12:10] PhilipJFryFAF opened #1264 "irc user color suggestions"
Please allow users to set colors for user groups (eg all friends in blue and all mods in purple)
changing colors for individual users can be tiring and you can only do it for users who are online atm (unless you edit your client prefs i guess)

having group colors would make things a lot easier - bonus points if you make it so that individually set colors overwrite the user group color so i can ma

[2019-05-21 12:26] 1-alex98 commented on #1246
For displaying the maps when starting a game only skrimish maps should be displayed because u dont want to host coop maps ;) keep that in mind

[2019-05-21 12:40] JaggedAppliance opened #1265 "no aeolus messages are shown"
![chatbug](https://user-images.githubusercontent.com/5166284/58096819-d6934a80-7bcd-11e9-82a1-23e18be76447.png)
[downlords-faf-client.log](https://github.com/FAForever/downlords-faf-client/files/3202529/downlords-faf-client.log)
No aeolus messages show up for me, not even my own. I was watching aeolus through discord and saw that my messages and others were getting posted to aeolus normally.

[2019-05-21 14:20] 1-alex98 commented on #1265
Nothing in log

[2019-05-21 14:24] JaggedAppliance commented on #1265
This was fixed by restarting the client btw

[2019-05-21 14:51] Rackover commented on #1242
https://i.imgur.com/bj4pknj.png

[2019-05-21 14:51] Rackover commented on #1242
As this issue is obviously not solved, please re-open.

[2019-05-21 17:08] Katharsas opened #1266 "Coop Tab Issues & UI layout"
- Make game list more readable. I should be able to do this. Related: #803

This is how it currently looks for me (fullscreen):
![fafclient_coop](https://user-images.githubusercontent.com/1922573/58115987-8df28600-7bfb-11e9-8fb3-71d37341a07b.JPG)

Todo:
- Remove "Maps" and "Rating" column
- Give the table more space by moving the split to the left (its not adjustable by user)

Tell me if you are f

[2019-05-21 19:42] speed2CZ opened #1267 "High CPU usage"
![Taskmgr_2019-05-21_21-39-12](https://user-images.githubusercontent.com/10947024/58125505-0283ef80-7c11-11e9-8aa6-930fcaaca4b5.png)
I've heard the gpu is better for mining bitcoins but still...

dfc_windows-x64_0_10_6-RC4
[downlords-faf-client.log](https://github.com/FAForever/downlords-faf-client/files/3204190/downlords-faf-client.log)

[2019-05-24 19:24] Brutus5000 opened #1268 "Game is started with previous featured mod loaded"
We have several reports via Slack and Forums that games are started with previously played featured mods (Nomads and Claustrophobia confirmed).

The reason is probably the init script not being properly overridden. We need to check that.

[2019-05-26 14:07] PhilipJFryFAF opened #1269 "desktop shortcut"
pls add a tick box to the install wizard to create a desktop shortcut for the client exe

[2019-05-26 14:20] Katharsas commented on #1245
Same problem again: https://forums.faforever.com/viewtopic.php?f=3&t=17603
I think i will create pull request that
- removes title parsing
- disables/greys out rating range input field (for now) on new game form
- hides rating range column (for now) in both custom games and coop games list

[2019-05-26 19:02] 1-alex98 commented on #1245
Well better talk it through with e.g. @micheljung otherwise you might end up doing work for nothing

[2019-05-26 19:02] 1-alex98 commented on #1269
Ok this needs to be set in install4j config

[2019-05-26 19:09] 1-alex98 commented on #1269
Needs to be done by @micheljung or @Geosearchef  or one of them might need to give me an install4j license. I dont think I can do it without the UI...

[2019-05-26 19:13] 1-alex98 commented on #1267
What does the Ram usage say?

[2019-05-26 19:45] 1-alex98 commented on #1268
Ok so I tried and it did not work

[2019-05-26 19:46] 1-alex98 commented on #1268
I hosted a game with only me in it having Claustrophobia  turned on then I started normal faf and all worked as expected in order to further address this we will need a) client logs or b) a more detailed description of what happend

[2019-05-26 19:56] speed2CZ commented on #1267
I'll check that out next time it happens.

[2019-05-26 20:25] 1-alex98 commented on #1267
Ring me up next time and we can profile the application

[2019-05-26 20:25] 1-alex98 commented on #1269
https://www.ej-technologies.com/resources/install4j/help/doc/help.pdf page 185

[2019-05-26 21:01] 1-alex98 commented on #1080
Any reactions?

[2019-05-26 21:21] Brutus5000 commented on #1268
This is probably related to the file lock issue of the client (bin folder etc.)

[2019-05-26 21:48] 1-alex98 commented on #1268
So u wanted us to open up a error window if init file can not be overwritten...

[2019-05-26 23:41] Brutus5000 commented on #1268
Here is the forum post with logs: https://forums.faforever.com/viewtopic.php?f=3&t=14865
The user did not mention an error popup.

[2019-05-27 07:37] #1255 closed, assigned to nobody

[2019-05-27 09:54] zlo-faf commented on #1201
To me, storing maps and mod in game folder looks like  the best idea. Mainly because people, for some reason tend to creat small C drive partition, and fill it with ragbage and then having trouble with free space.

[2019-05-27 12:59] #1157 closed, assigned to nobody

[2019-05-27 15:24] 1-alex98 commented on #1201
No that is not possible... game is only gonna be able to find maps/ mods in certain folders...

[2019-05-27 15:55] 1-alex98 commented on #1268
This post is from py client and 2 years old

[2019-05-27 15:55] 1-alex98 commented on #1268
...

[2019-05-27 17:44] 1-alex98 opened #1271 "One Drive causes problems"
If one drive is installed the client stores maps/ mods in one drive folder resulting in the game not finding the maps and mods

[2019-05-27 17:44] 1-alex98 commented on #1271
![image](https://user-images.githubusercontent.com/19996713/58433482-d4daf280-80b7-11e9-9a48-2e58d1bce04d.png)

[2019-05-27 17:47] 1-alex98 commented on #1271
reg query "HKCU\Software\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders" /v personal

[2019-05-27 21:55] 1-alex98 opened #1272 "Showing everything twice if search clicked twice in mod vault"

[2019-05-28 15:52] Brutus5000 commented on #1268
Check the last answer :P

[2019-05-28 21:55] axel1200 commented on #1268
2014...

[2019-05-28 21:55] 1-alex98 commented on #1268
yes no logs...

[2019-05-28 21:59] 1-alex98 commented on #1080
Did not know it was only me doing this project... :thinking:

[2019-05-29 11:04] #1250 closed, assigned to 1-alex98

[2019-05-31 00:40] dev-nulled commented on #1264
The default red for allies chat is almost impossible to read when watching casted games.

[2019-05-31 08:35] 1-alex98 commented on #1264
Not sure what yu mean @dev-nulled

[2019-06-01 11:27] 1-alex98 opened #1274 "3 cases in which maps directory is not found by game"
- Unix
- None ascii characters in username
- OneDrive manages Documents
 in all cases we need to use fallback location

[2019-06-02 15:32] ilnurzalyatov opened #1276 "Upload to mod storage Post (FAF)"
I took as a basis the mod Total Mayhem ( removed it unbalanced units) replaced the HP and the time of construction of turrets.
Now I want to upload a mod in Faf to play with friends.
I changed the name of the mod to Tutal Mayhem
But at the same time I'm in the Authors of fashion pointed out the one who created Total Mayhem.
But the problem.
when I try to upload the mod comes out error 401
More on

[2019-06-02 15:41] ilnurzalyatov commented on #1276
[Новый текстовый документ.txt](https://github.com/FAForever/downlords-faf-client/files/3244940/default.txt)

[2019-06-02 15:54] 1-alex98 commented on #1276
the whole mod

[2019-06-03 18:54] #1272 closed, assigned to 1-alex98

[2019-06-03 20:02] #963 closed, assigned to johnhce

[2019-06-04 09:42] dhardy opened #1277 "[Linux] Compatibility with Java 11"
My system (Fedora 30) has Java 11 installed:
[code]
Pointing at this installation alone is not enough to let the client run:
[code]
However, if I remove the following check from the script, it launches fine:
[code]
Summary: please update your installation script to allow use of newer versions of Java (at least 11).

[2019-06-04 18:05] 1-alex98 commented on #1277
script is not offical pleas make an issue on the repo of the script

[2019-06-04 18:05] #1277 closed, assigned to nobody

[2019-06-04 21:02] dhardy commented on #1277
Ah, that's why I couldn't find the script. Which repo?

[2019-06-04 21:19] 1-alex98 commented on #1277
https://github.com/FAForever/downlords-faf-client/wiki/Install-on-Linux

[2019-06-04 21:34] dhardy commented on #1277
But that's a wiki on this repo which links to @tatsujb's guide (which also doesn't include the launch script).

Is the `./downlords-faf-client` script not generated by install4j or some such?

[2019-06-04 23:57] kjeet opened #1278 "Offline mode"
Fairly new to FAF, so correct me if I'm wrong about any of the following.

The FAF client is the main (maybe only?) way to launch the game with the all the standard changes. Things like balance changes, patches for performance, AI additions, sim mods, etc. are absent or inconvenient to use using Steam or normal application launchers.

The only slightly annoying part is that every single game launc

[2019-06-05 09:56] tatsujb commented on #1277
@axel1200 to clarify, this is a "please port to java 11" thread if I understand correctly. I don't think he's necessarily using my script. and if he were he wouldn't have any issues because my script secretly downloads a java 10 folder (without installing it) into the dir I install FAF to and adds the install4J pointer to this folder into the user's .bashrc.

This (admitedly dirty) solution makes

[2019-06-05 10:00] dhardy commented on #1277
Correct, I am not using @tatsujb's script. The system-packaged Java 11 installation works fine, aside from the `downlords-faf-client` script included in the unix tarball.

[2019-06-06 15:03] 1-alex98 commented on #1278
They are uploaded but there is a way to launch without producing a replay. You can launch the exe under C:\ProgrammData\Faforever\bin and it will launch with FAF changes i think(maybe u need  \init init.lua as a param not sure ) also you could do some hack to stop faf from producing a replay. in settings under command line format u could enter "%s /savereplay gpgnet://127.0.0.1:12" that should bre

[2019-06-06 18:54] kjeet commented on #1278
Thanks! I'll be using that!

If there is interest in getting this baked in more formally, I'd love to chip in and make the changes. Let me know. Otherwise, I can close this out.

[2019-06-06 21:36] 1-alex98 commented on #1278
Well I mean I see no particular reason in implementing it but sure go ahead why not....

[2019-06-06 21:36] 1-alex98 commented on #1278
Write me an email alexander.von.trostoff@gmail.com and I will send you a slack invite as well.

[2019-06-06 21:37] 1-alex98 commented on #1278
@kjeet

[2019-06-06 22:21] Geosearchef opened #1279 "Remove port option / Add relay option"
Remove the option to set a port for the game to use as this is no longer supported and add an option to force the ice adapter (command line parameter when starting) to use only relay candidates.

[2019-06-07 19:34] #1263 closed, assigned to nobody

[2019-06-08 11:25] #1259 closed, assigned to nobody

[2019-06-08 15:42] #1279 closed, assigned to nobody

[2019-06-09 01:41] kjeet commented on #1278
@axel1200 Was that address right? gmail bounced.

[2019-06-09 09:22] Askaholic opened #1281 "Accept game launch configuration from server as in GW"
For team matchmaking we will be adding configuration options to the `game_launch` command. The client will need to check if these args are present and set the appropriate command line arguments to FA.

For argument names see this PR: https://github.com/FAForever/server/pull/428/files#diff-51c4c921447c6af4a36cbf90068e05c3

[2019-06-09 16:01] CouncillorMorax opened #1282 ""M&M Top Picks" Vault Category"
![layout image](https://user-images.githubusercontent.com/23299209/59161187-70536680-8aad-11e9-8343-abf10686c8ad.jpg)

In the vault section of the Java client, a new category in the maps and mods vault will be added which reads a list of map or mod IDs, generated by the M&M team.

The list will live on the message board and through a shared file (link to be added soon(tm)).

No modifications to th

[2019-06-09 16:05] CouncillorMorax opened #1283 "Map IDs do not show in detail window"
![no map ids](https://user-images.githubusercontent.com/23299209/59161283-c70d7000-8aae-11e9-9164-84d323a15512.jpg)

There is no way of finding the map identification number within the client. This information is necessary for reference to coding management of the vault, among other tasks.

Can that info please be added to that pop-up, detail view window?

[2019-06-10 11:21] 1-alex98 commented on #1278
The Email is correct however I did not receive one or deleted it by accident. Just resend

[2019-06-10 11:25] 1-alex98 commented on #1283
They are shown in modor btw ...

[2019-06-10 11:34] 1-alex98 commented on #1282
Just one note to this. This is an open source project and developers do what they want (you are soon to realize). I just want you to understand that just because you are councilor your suggestions will not be realized. Maybe I read them a little closer than those from a random user but thats it then basically. And as of now I got a lot to do and this requires some changes. So for me this has relat

[2019-06-10 11:35] 1-alex98 commented on #1281
There is a branch for GW I think where this was done

[2019-06-10 11:35] 1-alex98 commented on #1276
Closed due to inactivety

[2019-06-10 11:35] #1276 closed, assigned to nobody

[2019-06-10 11:36] 1-alex98 commented on #1269
Got the license from downlord so might do it soon TM

[2019-06-10 11:56] badbwoi opened #1284 "map search criteria: prop reclaim stats"
Hey guys,

how about using the prop statistics as search criteria for maps in the map vault.
The FAF editor already calculates the prop statistics for a map..

![image](https://user-images.githubusercontent.com/28671151/59189323-17053900-8b7a-11e9-9af4-c5b104a012d4.png)

..why don't we add the information to the scenario.lua when saving a map in the FAF editor or calculate it while uploading a map